flow/170321_noRTK.txt
[{"id":"6781edec.562084","type":"tab","label":"Flow not send RTK 20160321"},{"id":"cee78628.ab6318","type":"rm92a in","z":"6781edec.562084","name":"","serial":"17bd1777.53f039","rm92a":"af802604.553178","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":720,"wires":[["d5fc260a.6d29c8","60f0407c.06a3f"]]},{"id":"23f5d496.8a592c","type":"slr429 in","z":"6781edec.562084","name":"","serial":"8d9d362.1a23ac8","slr429":"1bb57043.96dca","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":900,"wires":[["c69a6c38.e83f7","eecd008c.4a749"]]},{"id":"4d5cc7ea.71c7d8","type":"delay","z":"6781edec.562084","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":460,"wires":[["4a56b96e.467338"]]},{"id":"31e7b6df.c6d18a","type":"rm92a out","z":"6781edec.562084","serial":"17bd1777.53f039","rm92a":"af802604.553178","dst":"0xFFFF","x":720,"y":320,"wires":[]},{"id":"b7f1c501.2dc408","type":"slr429 out","z":"6781edec.562084","serial":"8d9d362.1a23ac8","slr429":"1bb57043.96dca","gid":"0x00","did":"0x00","x":720,"y":360,"wires":[]},{"id":"ae479bd2.b89ce8","type":"function","z":"6781edec.562084","name":"Collect Toami Data","func":"\n/*globals msg, context */\nvar startTrigger = \"@start\";\nvar sendTrigger = \"@send\";\n\nvar keys = [\n    \"n01\", \"n02\", \"n03\", \"n04\", \"n05\", \"n06\", \"n07\", \"n08\", \"n09\", \"n10\",\n    \"n11\", \"n12\", \"n13\", \"n14\", \"n15\", \"n16\", \"n17\", \"n18\", \"n19\", \"n20\",\n    \"n21\", \"n22\", \"n23\", \"n24\", \"n25\", \"n26\", \"n27\", \"n28\", \"n29\", \"n30\",\n    \"s01\", \"s02\", \"s03\", \"s04\", \"s05\", \"s06\", \"s07\", \"s08\", \"s09\", \"s10\",\n    \"l01\",\n];\n\nvar timestampKey = \"gwtimestamp\";\nvar toami;\n\nvar payload = msg.payload;\nif (msg.payload === startTrigger) {\n    context.temp = {};\n    return null;\n} else if (msg.payload === sendTrigger) {\n    if (!context.temp) {\n        return null;\n    }\n\n    toami = context.temp;\n    context.temp = null;\n\n    if (Object.keys(toami).length === 0) {\n        return null;\n    }\n\n    toami[timestampKey] = Date.now();\n    return { payload: toami };\n} else {\n    if (!context.temp) {\n        return null;\n    }\n\n    keys.forEach(function(key) {\n        if (payload.hasOwnProperty(key)) {\n            context.temp[key] = payload[key];\n        }\n    });\n    return null;\n}","outputs":1,"noerr":0,"x":1250,"y":540,"wires":[[]]},{"id":"f558d00e.f8f36","type":"function","z":"6781edec.562084","name":"Write File","func":"\n/*globals msg, context, util */\nvar payload = msg.payload;\nvar dir = \"/home/pi/toami\";\n\nif (Number.isFinite(payload)) {\n    // timestamp\n    var date = new Date(payload);\n    context.filename = util.format(\"%s/toami_%d%s%s%s%s%s.csv\",\n        dir,\n        date.getFullYear(),\n        (\"0\" + (date.getMonth() + 1)).slice(-2),\n        (\"0\" + date.getDate()).slice(-2),\n        (\"0\" + date.getHours()).slice(-2),\n        (\"0\" + date.getMinutes()).slice(-2),\n        (\"0\" + date.getSeconds()).slice(-2));\n    return null;\n} else {\n    // csv\n    return {\n        filename: context.filename,\n        payload: msg.payload,\n    };\n}","outputs":"1","noerr":0,"x":1660,"y":840,"wires":[["cb21c76d.810e78"]]},{"id":"e10f5d37.ca002","type":"csv","z":"6781edec.562084","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date,n01,n02,n03,n04,n05,n06,n07,n08,n09,n10,n11,n12,n13,n14,n15,n16,n17,n18,n19,n20,n21,n22,la,lo","x":1490,"y":840,"wires":[["f558d00e.f8f36"]]},{"id":"e4f34b87.ff94e8","type":"inject","z":"6781edec.562084","name":"timestamp every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":1420,"y":940,"wires":[["f558d00e.f8f36"]]},{"id":"cb21c76d.810e78","type":"file","z":"6781edec.562084","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1810,"y":840,"wires":[]},{"id":"bb9f8160.5c865","type":"change","z":"6781edec.562084","name":"trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["b7f1c501.2dc408","b86129b4.008d38","31e7b6df.c6d18a"]]},{"id":"e97ba56f.793ba8","type":"change","z":"6781edec.562084","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n01","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n02","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n03","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n23","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[["b98e921a.43e16"]]},{"id":"7a723698.606848","type":"change","z":"6781edec.562084","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n04","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n05","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n06","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n24","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":760,"wires":[["b98e921a.43e16"]]},{"id":"4a56b96e.467338","type":"change","z":"6781edec.562084","name":"send trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@send","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":460,"wires":[[]]},{"id":"d5fc260a.6d29c8","type":"function","z":"6781edec.562084","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":720,"wires":[["8770c0eb.532c7"]]},{"id":"8770c0eb.532c7","type":"switch","z":"6781edec.562084","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":720,"wires":[["e97ba56f.793ba8"],["7a723698.606848"]]},{"id":"b09f4ff6.80c8b","type":"change","z":"6781edec.562084","name":"start trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[[]]},{"id":"c69a6c38.e83f7","type":"function","z":"6781edec.562084","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":900,"wires":[["6570f4a0.3b8aac"]]},{"id":"6570f4a0.3b8aac","type":"switch","z":"6781edec.562084","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":900,"wires":[["63465691.7b0d38"],["7649a10.513866"]]},{"id":"63465691.7b0d38","type":"change","z":"6781edec.562084","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n07","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n08","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n09","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n25","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":860,"wires":[["b98e921a.43e16"]]},{"id":"7649a10.513866","type":"change","z":"6781edec.562084","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n10","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n11","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n12","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"set","p":"rssi","pt":"msg","to":"payload.n26","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":920,"wires":[["b98e921a.43e16"]]},{"id":"676e2e8e.9aa42","type":"serial in","z":"6781edec.562084","name":"EnOcean","serial":"694480ce.29923","x":180,"y":1160,"wires":[["f7a0055.4e7b2f8","f2fad80d.d77118"]]},{"id":"c7df30cd.84ac2","type":"switch","z":"6781edec.562084","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"04017d07","vt":"str"},{"t":"eq","v":"0400f427","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":1160,"wires":[["625793fd.dcd61c"],["e1f1f11.677b61"]]},{"id":"625793fd.dcd61c","type":"change","z":"6781edec.562084","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n13","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n14","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n27","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1120,"wires":[["a5a53de7.4fbb8","b98e921a.43e16"]]},{"id":"e1f1f11.677b61","type":"change","z":"6781edec.562084","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n15","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n16","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n28","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1200,"wires":[["a5a53de7.4fbb8","b98e921a.43e16"]]},{"id":"bc30c224.699c2","type":"serial in","z":"6781edec.562084","name":"RTCM","serial":"7d02a7e3.52e498","x":170,"y":340,"wires":[["275e956.646ae6a"]]},{"id":"275e956.646ae6a","type":"delay","z":"6781edec.562084","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":340,"wires":[["bb9f8160.5c865","4d5cc7ea.71c7d8","b09f4ff6.80c8b","cc567972.c8fb18","37866018.d78a9"]]},{"id":"f7a0055.4e7b2f8","type":"esp3 in","z":"6781edec.562084","name":"","eeps":[{"id":"04017d07","eep":"a5-04-01"},{"id":"0400f427","eep":"a5-04-01"},{"id":"000004017d07","eep":"a5-04-01"},{"id":"00000400f427","eep":"a5-04-01"}],"x":350,"y":1160,"wires":[["c7df30cd.84ac2","d2a0389c.0b9978"]]},{"id":"be9d662e.58f5c8","type":"debug","z":"6781edec.562084","name":"","active":true,"console":"false","complete":"false","x":1230,"y":680,"wires":[]},{"id":"8f5ded38.552e7","type":"debug","z":"6781edec.562084","name":"","active":false,"console":"false","complete":"false","x":1170,"y":80,"wires":[]},{"id":"b86129b4.008d38","type":"debug","z":"6781edec.562084","name":"","active":true,"console":"false","complete":"false","x":743,"y":268,"wires":[]},{"id":"60f0407c.06a3f","type":"debug","z":"6781edec.562084","name":"","active":true,"console":"false","complete":"false","x":330,"y":660,"wires":[]},{"id":"eecd008c.4a749","type":"debug","z":"6781edec.562084","name":"","active":false,"console":"false","complete":"false","x":330,"y":840,"wires":[]},{"id":"d2a0389c.0b9978","type":"debug","z":"6781edec.562084","name":"","active":true,"console":"false","complete":"true","x":510,"y":1060,"wires":[]},{"id":"cc567972.c8fb18","type":"debug","z":"6781edec.562084","name":"","active":false,"console":"false","complete":"false","x":550,"y":100,"wires":[]},{"id":"f2fad80d.d77118","type":"debug","z":"6781edec.562084","name":"","active":false,"console":"false","complete":"true","x":350,"y":1060,"wires":[]},{"id":"69aad392.ed70cc","type":"toami out","z":"6781edec.562084","name":"","config":"6140195f.e6de78","delay":"1000","timeout":"5000","retry":"10000","interval":"1000","x":1210,"y":760,"wires":[]},{"id":"a5a53de7.4fbb8","type":"debug","z":"6781edec.562084","name":"","active":false,"console":"false","complete":"true","x":990,"y":1160,"wires":[]},{"id":"b9e2df09.fd752","type":"delay","z":"6781edec.562084","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":160,"wires":[[]]},{"id":"8428bce3.27db9","type":"function","z":"6781edec.562084","name":"Translate for CSV","func":"function translate(value) {\n    return (\"0\" + value).slice(-2)\n}\n\nvar obj = Object.keys(msg.payload).reduce(function(obj, key) {\n    obj[key] = msg.payload[key];\n    return obj;\n}, {});\n\nvar date = new Date(obj.gwtimestamp)\nobj.date = util.format(\n  \"%d-%s-%s %s:%s:%s\",\n  date.getFullYear(),\n  translate(date.getMonth() + 1),\n  translate(date.getDate()),\n  translate(date.getHours()),\n  translate(date.getMinutes()),\n  translate(date.getSeconds())\n);\n\nif (obj.l01) {\n    obj.la = obj.l01.latitude;\n    obj.lo = obj.l01.longitude;\n}\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":840,"wires":[["e10f5d37.ca002"]]},{"id":"b98e921a.43e16","type":"function","z":"6781edec.562084","name":"add time stamp","func":"\nmsg.payload.gwtimestamp = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":760,"wires":[["8428bce3.27db9","be9d662e.58f5c8","69aad392.ed70cc"]]},{"id":"599b07a0.50e1c8","type":"change","z":"6781edec.562084","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":600,"wires":[["b98e921a.43e16"]]},{"id":"d5c6a99c.798e88","type":"function","z":"6781edec.562084","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["599b07a0.50e1c8"]]},{"id":"f06ab8a7.c9fbb","type":"comment","z":"6781edec.562084","name":"EnOcean","info":"・DOCOMO's node\n 04017d2a\n 0400d4ff\n\n・Profile\n a5-02-05: temprature\n a5-04-01  temprature&humidity\n \n・Lapis's node\n 04017d07\n 0400f427 ","x":580,"y":1260,"wires":[]},{"id":"a8b6d8d2.e7d878","type":"comment","z":"6781edec.562084","name":"Gateway Settings","info":"Proto type(dcm_lpwagw_001)\n Thg_GW_iofv_nzo6\n beab7938-02be-48e4-b22f-cf25a4bbb86f\n\ndcm_lpwagw_002\n Thg_GW_iofv_6o5k\n 7c5427e3-acc1-4cdd-b301-9c4deab9055f\n \ndcm_lpwagw_003\n Thg_GW_iofv_7bb9\n b8607fd2-40f9-44f5-88d3-6d08feb86153\n \ndcm_lpwagw_004\n Thg_GW_iofv_jf9z\n 6e0df810-71fe-4bc1-88ea-40556c27ee36\n \ndcm_lpwagw_005\n Thg_GW_iofv_1kar\n 37911a00-2bbd-4086-ba15-671ee44ea8df\n \ndcm_lpwagw_006\n Thg_GW_iofv_e60d\n cf00f80f-78a4-4304-a97a-41f7b69f30ef\n","x":1360,"y":760,"wires":[]},{"id":"3f9d45c7.5dc4da","type":"function","z":"6781edec.562084","name":"gnrmc_parser","func":"var newMsg={};\n//newMsg.payload = msg.gnrmc.split(\"\\r\\n\");\narray = msg.gnrmc.split(\"\\r\\n\");\nfor(var i= 0; i < array.length; i++) {\n   if(array[i].split(\",\")[i]==\"$GNRMC\") {\n       newMsg.dst = 1;\n       newMsg.rssi = 0;\n       newMsg.payload = \"1,\"+array[i]+\",BME280,0,0,0\";\n       break;\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":1120,"y":240,"wires":[["d5c6a99c.798e88"]]},{"id":"f7b00796.315a18","type":"function","z":"6781edec.562084","name":"Split for RM92A","func":"/* globals msg, node, util */\nvar max = 93;\nvar split = max;\n\nvar payload = msg.payload;\nvar num;\nvar digit = 1;\nfor (;; digit++) {\n    num = Math.ceil(payload.length / split);\n    if (num >= Math.pow(10, digit)) {\n        split = split - 2;\n    } else {\n        break;\n    }\n}\n\nif (split < 0) {\n    node.error(\"Can't split payload, because payload too long(\" + payload.length + \").\", msg);\n    return null;\n}\n\nvar zeroPadding = \"\";\nvar i;\nfor (i = 0; i < digit; i++) {\n    zeroPadding += \"0\";\n}\n\nvar seq;\nvar amount = (zeroPadding + num).slice(-digit);\nvar data;\nvar format;\nvar msgs = [];\nfor (i = 0; i < num; i++) {\n    seq = (zeroPadding + i).slice(-digit);\n    data = payload.slice(split * (i), Math.min(split * (i+1), payload.length));\n    format = util.format(\"@F;%s;%s;%s\", seq, amount, data);\n    msgs.push({topic: i, payload: format});\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":960,"y":160,"wires":[[]]},{"id":"eefe9715.4ca008","type":"delay","z":"6781edec.562084","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":240,"wires":[["3f9d45c7.5dc4da"]]},{"id":"1797db40.208815","type":"function","z":"6781edec.562084","name":"div_rtk_message","func":"index = msg.payload.indexOf(\"24474e524d43\");\n//msg.original = msg.payload;\n//msg.position = index;\nif(index>0) {\n    message = msg.payload.substr(index,msg.payload.length);\n//    msg.gnrmc = msg.payload.substr(index,64);\n    msg.gnrmc = \"\";\n    i=0;\n    while(i<message.length) {\n        msg.gnrmc += String.fromCharCode(parseInt(message.substr(i,2),16));\n        i+=2;\n   }\n    msg.payload = msg.payload.substr(0,index);\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["eefe9715.4ca008"]]},{"id":"37866018.d78a9","type":"function","z":"6781edec.562084","name":"hex to string","func":"\n/* globals msg */\nmsg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["1797db40.208815"]]},{"id":"17bd1777.53f039","type":"rm92a-serial","z":"","serialport":"/dev/ttyRM92A"},{"id":"af802604.553178","type":"rm92a-config","z":"","reset":"/home/pi/gateway/rm92a_reset.sh","mode":"2","ch":"24","panid":"0x1234","src":"0x0001","dst":"0xFFFF","pw":"0","bw":"0","sf":"4","bitrate":"50000","ack":false,"timeout":"1","retry":"0","rtc":"0"},{"id":"8d9d362.1a23ac8","type":"slr429-serial","z":"","serialport":"/dev/ttySLR429"},{"id":"1bb57043.96dca","type":"slr429-config","z":"","mode":"3","gid":"0x00","eid":"0x01","did":"0x00","ch":"27","chip":"0"},{"id":"694480ce.29923","type":"serial-port","z":"","serialport":"/dev/ttyEnOcean","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"7d02a7e3.52e498","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"bin","out":"time","addchar":false},{"id":"6140195f.e6de78","type":"toami-config","z":"","host":"demo01","gateway":"Thg_GW_iofv_1kar","key":"37911a00-2bbd-4086-ba15-671ee44ea8df"}]