flow/170315flow.txt
[{"id":"111ab52.ef4d9cb","type":"tab","label":"Flow 1"},{"id":"f65583e0.e50fe8","type":"rm92a in","z":"111ab52.ef4d9cb","name":"","serial":"84259606.31d468","rm92a":"cd76f08f.7fa0b8","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":680,"wires":[["deb32f32.2e663","20513385.835204"]]},{"id":"6148b167.ee9a3","type":"slr429 in","z":"111ab52.ef4d9cb","name":"","serial":"9d1b3d80.8c0228","slr429":"47d46e54.a56f88","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":860,"wires":[["496a7e30.21b0a","54895a58.4fd174"]]},{"id":"60dcba53.6a02d4","type":"delay","z":"111ab52.ef4d9cb","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":480,"wires":[["6722bd4d.825ca4"]]},{"id":"481b8403.bd3a7c","type":"function","z":"111ab52.ef4d9cb","name":"hex to string","func":"\n/* globals msg */\nmsg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["58dbc651.4abb6"]]},{"id":"2dea6270.bc7796","type":"function","z":"111ab52.ef4d9cb","name":"Split for RM92A","func":"/* globals msg, node, util */\nvar max = 93;\nvar split = max;\n\nvar payload = msg.payload;\nvar num;\nvar digit = 1;\nfor (;; digit++) {\n    num = Math.ceil(payload.length / split);\n    if (num >= Math.pow(10, digit)) {\n        split = split - 2;\n    } else {\n        break;\n    }\n}\n\nif (split < 0) {\n    node.error(\"Can't split payload, because payload too long(\" + payload.length + \").\", msg);\n    return null;\n}\n\nvar zeroPadding = \"\";\nvar i;\nfor (i = 0; i < digit; i++) {\n    zeroPadding += \"0\";\n}\n\nvar seq;\nvar amount = (zeroPadding + num).slice(-digit);\nvar data;\nvar format;\nvar msgs = [];\nfor (i = 0; i < num; i++) {\n    seq = (zeroPadding + i).slice(-digit);\n    data = payload.slice(split * (i), Math.min(split * (i+1), payload.length));\n    format = util.format(\"@F;%s;%s;%s\", seq, amount, data);\n    msgs.push({topic: i, payload: format});\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":960,"y":160,"wires":[["f6d2b42.8b52a48","cc948fb.b376f7"]]},{"id":"e6b5980a.13bd","type":"rm92a out","z":"111ab52.ef4d9cb","serial":"84259606.31d468","rm92a":"cd76f08f.7fa0b8","dst":"0xFFFF","x":1340,"y":160,"wires":[]},{"id":"eddf08cb.7c0ff","type":"slr429 out","z":"111ab52.ef4d9cb","serial":"9d1b3d80.8c0228","slr429":"47d46e54.a56f88","gid":"0x00","did":"0x00","x":1000,"y":340,"wires":[]},{"id":"fffec30a.7891f","type":"function","z":"111ab52.ef4d9cb","name":"Collect Toami Data","func":"\n/*globals msg, context */\nvar startTrigger = \"@start\";\nvar sendTrigger = \"@send\";\n\nvar keys = [\n    \"n01\", \"n02\", \"n03\", \"n04\", \"n05\", \"n06\", \"n07\", \"n08\", \"n09\", \"n10\",\n    \"n11\", \"n12\", \"n13\", \"n14\", \"n15\", \"n16\", \"n17\", \"n18\", \"n19\", \"n20\",\n    \"n21\", \"n22\", \"n23\", \"n24\", \"n25\", \"n26\", \"n27\", \"n28\", \"n29\", \"n30\",\n    \"s01\", \"s02\", \"s03\", \"s04\", \"s05\", \"s06\", \"s07\", \"s08\", \"s09\", \"s10\",\n    \"l01\",\n];\n\nvar timestampKey = \"gwtimestamp\";\nvar toami;\n\nvar payload = msg.payload;\nif (msg.payload === startTrigger) {\n    context.temp = {};\n    return null;\n} else if (msg.payload === sendTrigger) {\n    if (!context.temp) {\n        return null;\n    }\n\n    toami = context.temp;\n    context.temp = null;\n\n    if (Object.keys(toami).length === 0) {\n        return null;\n    }\n\n    toami[timestampKey] = Date.now();\n    return { payload: toami };\n} else {\n    if (!context.temp) {\n        return null;\n    }\n\n    keys.forEach(function(key) {\n        if (payload.hasOwnProperty(key)) {\n            context.temp[key] = payload[key];\n        }\n    });\n    return null;\n}","outputs":1,"noerr":0,"x":1010,"y":440,"wires":[[]]},{"id":"aaab4906.5c6d78","type":"function","z":"111ab52.ef4d9cb","name":"Write File","func":"\n/*globals msg, context, util */\nvar payload = msg.payload;\nvar dir = \"/home/pi/toami\";\n\nif (Number.isFinite(payload)) {\n    // timestamp\n    var date = new Date(payload);\n    context.filename = util.format(\"%s/toami_%d%s%s%s%s%s.csv\",\n        dir,\n        date.getFullYear(),\n        (\"0\" + (date.getMonth() + 1)).slice(-2),\n        (\"0\" + date.getDate()).slice(-2),\n        (\"0\" + date.getHours()).slice(-2),\n        (\"0\" + date.getMinutes()).slice(-2),\n        (\"0\" + date.getSeconds()).slice(-2));\n    return null;\n} else {\n    // csv\n    return {\n        filename: context.filename,\n        payload: msg.payload,\n    };\n}","outputs":"1","noerr":0,"x":1660,"y":800,"wires":[["9cffae05.dc4928"]]},{"id":"300e1c4f.9670d4","type":"csv","z":"111ab52.ef4d9cb","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date,n01,n02,n03,n04,n05,n06,n07,n08,n09,n10,n11,n12,n13,n14,n15,n16,n17,n18,n19,n20,n21,n22,la,lo","x":1490,"y":800,"wires":[["aaab4906.5c6d78"]]},{"id":"32d1c00.768644","type":"inject","z":"111ab52.ef4d9cb","name":"timestamp every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":1420,"y":900,"wires":[["aaab4906.5c6d78"]]},{"id":"9cffae05.dc4928","type":"file","z":"111ab52.ef4d9cb","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1810,"y":800,"wires":[]},{"id":"9a266e66.02fea8","type":"change","z":"111ab52.ef4d9cb","name":"trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["eddf08cb.7c0ff","cc6391ff.23883"]]},{"id":"fcd48be5.95ea3","type":"change","z":"111ab52.ef4d9cb","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n01","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n02","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n03","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n23","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":640,"wires":[["8e042aec.05bec8"]]},{"id":"3153b595.953ef2","type":"change","z":"111ab52.ef4d9cb","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n04","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n05","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n06","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n24","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":720,"wires":[["8e042aec.05bec8"]]},{"id":"6722bd4d.825ca4","type":"change","z":"111ab52.ef4d9cb","name":"send trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@send","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":480,"wires":[[]]},{"id":"deb32f32.2e663","type":"function","z":"111ab52.ef4d9cb","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":680,"wires":[["1a7c00e3.0f9b8f"]]},{"id":"1a7c00e3.0f9b8f","type":"switch","z":"111ab52.ef4d9cb","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":680,"wires":[["fcd48be5.95ea3"],["3153b595.953ef2"]]},{"id":"f2e1a32e.6ede4","type":"change","z":"111ab52.ef4d9cb","name":"start trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":420,"wires":[["c2ebe2fd.69774"]]},{"id":"496a7e30.21b0a","type":"function","z":"111ab52.ef4d9cb","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":860,"wires":[["492590d9.c27f58"]]},{"id":"492590d9.c27f58","type":"switch","z":"111ab52.ef4d9cb","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":860,"wires":[["77ff8170.5d1f"],["9ec29683.1c3dc"]]},{"id":"77ff8170.5d1f","type":"change","z":"111ab52.ef4d9cb","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n07","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n08","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n09","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n25","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":820,"wires":[["8e042aec.05bec8"]]},{"id":"9ec29683.1c3dc","type":"change","z":"111ab52.ef4d9cb","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n10","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n11","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n12","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"set","p":"rssi","pt":"msg","to":"payload.n26","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":880,"wires":[["8e042aec.05bec8"]]},{"id":"6cc374ac.701f4c","type":"serial in","z":"111ab52.ef4d9cb","name":"EnOcean","serial":"6ba2edf3.0cd994","x":180,"y":1120,"wires":[["ea9d4404.cb60a","9a58f05b.3acf28"]]},{"id":"9125f110.e8f19","type":"switch","z":"111ab52.ef4d9cb","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"04017d2a","vt":"str"},{"t":"eq","v":"000004017d2a","vt":"str"},{"t":"eq","v":"0400d4ff","vt":"str"},{"t":"eq","v":"00000400d4ff","vt":"str"}],"checkall":"true","outputs":4,"x":570,"y":1120,"wires":[["6ed997df.f61c9"],["6ed997df.f61c9"],["290aad9b.7a2a0a"],["290aad9b.7a2a0a"]]},{"id":"6ed997df.f61c9","type":"change","z":"111ab52.ef4d9cb","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n13","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n14","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1080,"wires":[["df1555b7.423918","8e042aec.05bec8"]]},{"id":"290aad9b.7a2a0a","type":"change","z":"111ab52.ef4d9cb","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n15","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n16","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1160,"wires":[["df1555b7.423918","8e042aec.05bec8"]]},{"id":"ace18b4c.595bf8","type":"serial in","z":"111ab52.ef4d9cb","name":"RTCM","serial":"2f3adcbc.bc5174","x":170,"y":340,"wires":[["40ce674e.6601f"]]},{"id":"40ce674e.6601f","type":"delay","z":"111ab52.ef4d9cb","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":340,"wires":[["481b8403.bd3a7c","9a266e66.02fea8","60dcba53.6a02d4","f2e1a32e.6ede4","ccf99cf1.36952"]]},{"id":"ea9d4404.cb60a","type":"esp3 in","z":"111ab52.ef4d9cb","name":"","eeps":[{"id":"04017d2a","eep":"a5-04-01"},{"id":"0400d4ff","eep":"a5-04-01"},{"id":"000004017d2a","eep":"a5-04-01"},{"id":"00000400d4ff","eep":"a5-04-01"}],"x":350,"y":1120,"wires":[["9125f110.e8f19","76113c66.6521dc"]]},{"id":"527a6725.7477b8","type":"comment","z":"111ab52.ef4d9cb","name":"a5-02-05","info":"","x":160,"y":1200,"wires":[]},{"id":"666bd4aa.3849b4","type":"comment","z":"111ab52.ef4d9cb","name":"a5-04-01","info":"","x":80,"y":1140,"wires":[]},{"id":"c2ebe2fd.69774","type":"debug","z":"111ab52.ef4d9cb","name":"","active":true,"console":"false","complete":"false","x":1230,"y":640,"wires":[]},{"id":"f6d2b42.8b52a48","type":"debug","z":"111ab52.ef4d9cb","name":"","active":true,"console":"false","complete":"false","x":1170,"y":80,"wires":[]},{"id":"cc6391ff.23883","type":"debug","z":"111ab52.ef4d9cb","name":"","active":false,"console":"false","complete":"false","x":750,"y":300,"wires":[]},{"id":"20513385.835204","type":"debug","z":"111ab52.ef4d9cb","name":"","active":true,"console":"false","complete":"false","x":330,"y":620,"wires":[]},{"id":"54895a58.4fd174","type":"debug","z":"111ab52.ef4d9cb","name":"","active":false,"console":"false","complete":"false","x":330,"y":800,"wires":[]},{"id":"76113c66.6521dc","type":"debug","z":"111ab52.ef4d9cb","name":"","active":true,"console":"false","complete":"true","x":510,"y":1020,"wires":[]},{"id":"ccf99cf1.36952","type":"debug","z":"111ab52.ef4d9cb","name":"","active":false,"console":"false","complete":"false","x":550,"y":100,"wires":[]},{"id":"9a58f05b.3acf28","type":"debug","z":"111ab52.ef4d9cb","name":"","active":false,"console":"false","complete":"true","x":350,"y":1020,"wires":[]},{"id":"56afd0fc.26057","type":"toami out","z":"111ab52.ef4d9cb","name":"","config":"c8400172.5319e","delay":"1000","timeout":"5000","retry":"10000","interval":"1000","x":1210,"y":720,"wires":[]},{"id":"df1555b7.423918","type":"debug","z":"111ab52.ef4d9cb","name":"","active":true,"console":"false","complete":"false","x":1010,"y":1080,"wires":[]},{"id":"cc948fb.b376f7","type":"delay","z":"111ab52.ef4d9cb","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":160,"wires":[["e6b5980a.13bd"]]},{"id":"1ac46a46.398d16","type":"function","z":"111ab52.ef4d9cb","name":"Translate for CSV","func":"function translate(value) {\n    return (\"0\" + value).slice(-2)\n}\n\nvar obj = Object.keys(msg.payload).reduce(function(obj, key) {\n    obj[key] = msg.payload[key];\n    return obj;\n}, {});\n\nvar date = new Date(obj.gwtimestamp)\nobj.date = util.format(\n  \"%d-%s-%s %s:%s:%s\",\n  date.getFullYear(),\n  translate(date.getMonth() + 1),\n  translate(date.getDate()),\n  translate(date.getHours()),\n  translate(date.getMinutes()),\n  translate(date.getSeconds())\n);\n\nif (obj.l01) {\n    obj.la = obj.l01.latitude;\n    obj.lo = obj.l01.longitude;\n}\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":800,"wires":[["300e1c4f.9670d4"]]},{"id":"8e042aec.05bec8","type":"function","z":"111ab52.ef4d9cb","name":"add time stamp","func":"\nmsg.payload.gwtimestamp = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":720,"wires":[["1ac46a46.398d16","c2ebe2fd.69774","56afd0fc.26057"]]},{"id":"58dbc651.4abb6","type":"function","z":"111ab52.ef4d9cb","name":"div_rtk_message","func":"index = msg.payload.indexOf(\"24474e524d43\");\n//msg.original = msg.payload;\n//msg.position = index;\nif(index>0) {\n    message = msg.payload.substr(index,msg.payload.length);\n//    msg.gnrmc = msg.payload.substr(index,64);\n    msg.gnrmc = \"\";\n    i=0;\n    while(i<message.length) {\n        msg.gnrmc += String.fromCharCode(parseInt(message.substr(i,2),16));\n        i+=2;\n   }\n    msg.payload = msg.payload.substr(0,index);\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["2dea6270.bc7796","79a39d0a.03163c"]]},{"id":"472b72ca.b65c44","type":"function","z":"111ab52.ef4d9cb","name":"gnrmc_parser","func":"var newMsg={};\n//newMsg.payload = msg.gnrmc.split(\"\\r\\n\");\narray = msg.gnrmc.split(\"\\r\\n\");\nfor(var i= 0; i < array.length; i++) {\n   if(array[i].split(\",\")[i]==\"$GNRMC\") {\n       newMsg.dst = 1;\n       newMsg.rssi = 0;\n       newMsg.payload = \"1,\"+array[i]+\",BME280,0,0,0\";\n       break;\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":1120,"y":240,"wires":[["91f109fe.9ef3d"]]},{"id":"57337adb.d982cc","type":"change","z":"111ab52.ef4d9cb","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":560,"wires":[["8e042aec.05bec8","9162fdb5.188828"]]},{"id":"79a39d0a.03163c","type":"delay","z":"111ab52.ef4d9cb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":240,"wires":[["472b72ca.b65c44"]]},{"id":"9162fdb5.188828","type":"debug","z":"111ab52.ef4d9cb","name":"","active":true,"console":"false","complete":"true","x":1250,"y":500,"wires":[]},{"id":"91f109fe.9ef3d","type":"function","z":"111ab52.ef4d9cb","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["57337adb.d982cc"]]},{"id":"84259606.31d468","type":"rm92a-serial","z":"","serialport":"/dev/ttyRM92A"},{"id":"cd76f08f.7fa0b8","type":"rm92a-config","z":"","reset":"/home/pi/gateway/rm92a_reset.sh","mode":"2","ch":"24","panid":"0x1234","src":"0x0001","dst":"0xFFFF","pw":"0","bw":"0","sf":"4","bitrate":"50000","ack":false,"timeout":"1","retry":"0","rtc":"0"},{"id":"9d1b3d80.8c0228","type":"slr429-serial","z":"","serialport":"/dev/ttySLR429"},{"id":"47d46e54.a56f88","type":"slr429-config","z":"","mode":"3","gid":"0x00","eid":"0x01","did":"0x00","ch":"27","chip":"0"},{"id":"6ba2edf3.0cd994","type":"serial-port","z":"","serialport":"/dev/ttyEnOcean","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"2f3adcbc.bc5174","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"bin","out":"time","addchar":false},{"id":"c8400172.5319e","type":"toami-config","z":"","host":"demo01","gateway":"Thg_GW_iofv_jf9z","key":"6e0df810-71fe-4bc1-88ea-40556c27ee36"}]