flow/170304flow.txt
[{"id":"820817c9.817b98","type":"tab","label":"Flow 1"},{"id":"67090b79.1ab684","type":"rm92a in","z":"820817c9.817b98","name":"","serial":"9a65763.24b1388","rm92a":"2d7173da.92db2c","interval":"1000","enbinterval":true,"latestpacket":false,"x":90,"y":580,"wires":[["ce75eaa9.f91df8","dad4f6a9.de2b88"]]},{"id":"c94cfd09.fb139","type":"slr429 in","z":"820817c9.817b98","name":"","serial":"66e62bb.d2d4cd4","slr429":"ecef75ae.65ede8","interval":"1000","enbinterval":true,"latestpacket":false,"x":90,"y":760,"wires":[["1942a82c.6edef8","f729a5b3.7f9bf8"]]},{"id":"fe1355f5.062128","type":"delay","z":"820817c9.817b98","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":460,"wires":[["d53a408c.777fb"]]},{"id":"da264ccd.52e7","type":"function","z":"820817c9.817b98","name":"hex to string","func":"\n/* globals msg */\nmsg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["9ada3266.95d7b"]]},{"id":"9ada3266.95d7b","type":"function","z":"820817c9.817b98","name":"Split for RM92A","func":"/* globals msg, node, util */\nvar max = 93;\nvar split = max;\n\nvar payload = msg.payload;\nvar num;\nvar digit = 1;\nfor (;; digit++) {\n    num = Math.ceil(payload.length / split);\n    if (num >= Math.pow(10, digit)) {\n        split = split - 2;\n    } else {\n        break;\n    }\n}\n\nif (split < 0) {\n    node.error(\"Can't split payload, because payload too long(\" + payload.length + \").\", msg);\n    return null;\n}\n\nvar zeroPadding = \"\";\nvar i;\nfor (i = 0; i < digit; i++) {\n    zeroPadding += \"0\";\n}\n\nvar seq;\nvar amount = (zeroPadding + num).slice(-digit);\nvar data;\nvar format;\nvar msgs = [];\nfor (i = 0; i < num; i++) {\n    seq = (zeroPadding + i).slice(-digit);\n    data = payload.slice(split * (i), Math.min(split * (i+1), payload.length));\n    format = util.format(\"@F;%s;%s;%s\", seq, amount, data);\n    msgs.push({topic: i, payload: format});\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":940,"y":160,"wires":[["b11cbd30.32f1c","f6b5261e.e82868"]]},{"id":"4ba08306.5d854c","type":"rm92a out","z":"820817c9.817b98","serial":"9a65763.24b1388","rm92a":"2d7173da.92db2c","dst":"0xFFFF","x":1400,"y":160,"wires":[]},{"id":"921cd839.c09e68","type":"slr429 out","z":"820817c9.817b98","serial":"66e62bb.d2d4cd4","slr429":"ecef75ae.65ede8","gid":"0x00","did":"0x00","x":920,"y":240,"wires":[]},{"id":"7c5bb364.75ee8c","type":"function","z":"820817c9.817b98","name":"Collect Toami Data","func":"\n/*globals msg, context */\nvar startTrigger = \"@start\";\nvar sendTrigger = \"@send\";\n\nvar keys = [\n    \"n01\", \"n02\", \"n03\", \"n04\", \"n05\", \"n06\", \"n07\", \"n08\", \"n09\", \"n10\",\n    \"n11\", \"n12\", \"n13\", \"n14\", \"n15\", \"n16\", \"n17\", \"n18\", \"n19\", \"n20\",\n    \"n21\", \"n22\", \"n23\", \"n24\", \"n25\", \"n26\", \"n27\", \"n28\", \"n29\", \"n30\",\n    \"s01\", \"s02\", \"s03\", \"s04\", \"s05\", \"s06\", \"s07\", \"s08\", \"s09\", \"s10\",\n    \"l01\",\n];\n\nvar timestampKey = \"gwtimestamp\";\nvar toami;\n\nvar payload = msg.payload;\nif (msg.payload === startTrigger) {\n    context.temp = {};\n    return null;\n} else if (msg.payload === sendTrigger) {\n    if (!context.temp) {\n        return null;\n    }\n\n    toami = context.temp;\n    context.temp = null;\n\n    if (Object.keys(toami).length === 0) {\n        return null;\n    }\n\n    toami[timestampKey] = Date.now();\n    return { payload: toami };\n} else {\n    if (!context.temp) {\n        return null;\n    }\n\n    keys.forEach(function(key) {\n        if (payload.hasOwnProperty(key)) {\n            context.temp[key] = payload[key];\n        }\n    });\n    return null;\n}","outputs":1,"noerr":0,"x":970,"y":620,"wires":[["fc1edf8b.849ff","e2161a39.a390c8","25922589.159872"]]},{"id":"bcd74669.2f7918","type":"function","z":"820817c9.817b98","name":"Write File","func":"\n/*globals msg, context, util */\nvar payload = msg.payload;\nvar dir = \"/home/pi/toami\";\n\nif (Number.isFinite(payload)) {\n    // timestamp\n    var date = new Date(payload);\n    context.filename = util.format(\"%s/toami_%d%s%s%s%s%s.csv\",\n        dir,\n        date.getFullYear(),\n        (\"0\" + (date.getMonth() + 1)).slice(-2),\n        (\"0\" + date.getDate()).slice(-2),\n        (\"0\" + date.getHours()).slice(-2),\n        (\"0\" + date.getMinutes()).slice(-2),\n        (\"0\" + date.getSeconds()).slice(-2));\n    return null;\n} else {\n    // csv\n    return {\n        filename: context.filename,\n        payload: msg.payload,\n    };\n}","outputs":"1","noerr":0,"x":1580,"y":700,"wires":[["4516b262.3583ac"]]},{"id":"40a17006.ae08d","type":"csv","z":"820817c9.817b98","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date,n01,n02,n03,n04,n05,n06,n07,n08,n09,n10,n11,n12,n13,n14,n15,n16,n17,n18,n19,n20,n21,n22,la,lo","x":1410,"y":700,"wires":[["bcd74669.2f7918"]]},{"id":"5239d368.c1f4dc","type":"inject","z":"820817c9.817b98","name":"timestamp every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":1350,"y":800,"wires":[["bcd74669.2f7918"]]},{"id":"4516b262.3583ac","type":"file","z":"820817c9.817b98","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1730,"y":700,"wires":[]},{"id":"fa6d9e10.1cdb9","type":"change","z":"820817c9.817b98","name":"trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":240,"wires":[["921cd839.c09e68","b3d821f3.2843b"]]},{"id":"43f36323.7ee12c","type":"change","z":"820817c9.817b98","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n01","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n02","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n03","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":540,"wires":[["7c5bb364.75ee8c"]]},{"id":"a1b31453.088a28","type":"change","z":"820817c9.817b98","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n04","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n05","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n06","tot":"msg"},{"t":"delete","p":"payload.location","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":620,"wires":[["7c5bb364.75ee8c"]]},{"id":"d53a408c.777fb","type":"change","z":"820817c9.817b98","name":"send trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@send","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["7c5bb364.75ee8c"]]},{"id":"ce75eaa9.f91df8","type":"function","z":"820817c9.817b98","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseInt(value[2], 10);\n        var seconds = parseFloat(value[3].replace(/(\\d{2})(\\d*)/, \"$1.$2\"));\n        return degrees + (minutes / 60) + (seconds / 3600);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":260,"y":580,"wires":[["51a63e92.3d8d9"]]},{"id":"51a63e92.3d8d9","type":"switch","z":"820817c9.817b98","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":470,"y":580,"wires":[["43f36323.7ee12c"],["a1b31453.088a28"]]},{"id":"5baa399a.1e5ad8","type":"change","z":"820817c9.817b98","name":"start trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":400,"wires":[["7c5bb364.75ee8c"]]},{"id":"1942a82c.6edef8","type":"function","z":"820817c9.817b98","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseInt(value[2], 10);\n        var seconds = parseFloat(value[3].replace(/(\\d{2})(\\d*)/, \"$1.$2\"));\n        return degrees + (minutes / 60) + (seconds / 3600);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":260,"y":760,"wires":[["1d3f2544.c2111b"]]},{"id":"1d3f2544.c2111b","type":"switch","z":"820817c9.817b98","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":470,"y":760,"wires":[["100b5ff1.d6322"],["5b18feb0.09853"]]},{"id":"100b5ff1.d6322","type":"change","z":"820817c9.817b98","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n07","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n08","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n09","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":720,"wires":[["7c5bb364.75ee8c"]]},{"id":"5b18feb0.09853","type":"change","z":"820817c9.817b98","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n10","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n11","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n12","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":780,"wires":[["7c5bb364.75ee8c"]]},{"id":"80f5f76b.f183c8","type":"serial in","z":"820817c9.817b98","name":"EnOcean","serial":"4a16cfc2.32ead","x":100,"y":1020,"wires":[["2cb7720b.f3607e","7fe2f945.b3e638"]]},{"id":"c75b9cc4.62db7","type":"switch","z":"820817c9.817b98","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"04017d2a","vt":"str"},{"t":"eq","v":"000004017d2a","vt":"str"},{"t":"eq","v":"0400d4ff","vt":"str"},{"t":"eq","v":"00000400d4ff","vt":"str"}],"checkall":"true","outputs":4,"x":490,"y":1020,"wires":[["da5207a0.48b6d8"],["da5207a0.48b6d8"],["fec96c96.3eb3f"],["fec96c96.3eb3f"]]},{"id":"da5207a0.48b6d8","type":"change","z":"820817c9.817b98","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n13","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":980,"wires":[["7c5bb364.75ee8c","f2efa5b9.dd8878"]]},{"id":"fec96c96.3eb3f","type":"change","z":"820817c9.817b98","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n15","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1060,"wires":[["7c5bb364.75ee8c","f2efa5b9.dd8878"]]},{"id":"f727785d.ba4728","type":"serial in","z":"820817c9.817b98","name":"RTCM","serial":"2293a6e3.2f6a0a","x":90,"y":240,"wires":[["25bb4455.16023c"]]},{"id":"25bb4455.16023c","type":"delay","z":"820817c9.817b98","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":240,"wires":[["da264ccd.52e7","fa6d9e10.1cdb9","fe1355f5.062128","5baa399a.1e5ad8","4c95e49b.e030bc"]]},{"id":"2cb7720b.f3607e","type":"esp3 in","z":"820817c9.817b98","name":"","eeps":[{"id":"04017d2a","eep":"a5-02-05"},{"id":"0400d4ff","eep":"a5-02-05"},{"id":"000004017d2a","eep":"a5-02-05"},{"id":"00000400d4ff","eep":"a5-02-05"}],"x":270,"y":1020,"wires":[["c75b9cc4.62db7","72874db3.b69464"]]},{"id":"7181e859.bc7b78","type":"comment","z":"820817c9.817b98","name":"a5-02-05","info":"","x":80,"y":1100,"wires":[]},{"id":"aef428f8.424d68","type":"comment","z":"820817c9.817b98","name":"a5-04-01","info":"","x":80,"y":1140,"wires":[]},{"id":"fc1edf8b.849ff","type":"debug","z":"820817c9.817b98","name":"","active":true,"console":"false","complete":"false","x":1190,"y":440,"wires":[]},{"id":"b11cbd30.32f1c","type":"debug","z":"820817c9.817b98","name":"","active":false,"console":"false","complete":"false","x":1170,"y":80,"wires":[]},{"id":"b3d821f3.2843b","type":"debug","z":"820817c9.817b98","name":"","active":false,"console":"false","complete":"false","x":670,"y":200,"wires":[]},{"id":"dad4f6a9.de2b88","type":"debug","z":"820817c9.817b98","name":"","active":true,"console":"false","complete":"false","x":270,"y":520,"wires":[]},{"id":"f729a5b3.7f9bf8","type":"debug","z":"820817c9.817b98","name":"","active":true,"console":"false","complete":"false","x":250,"y":700,"wires":[]},{"id":"72874db3.b69464","type":"debug","z":"820817c9.817b98","name":"","active":true,"console":"false","complete":"true","x":430,"y":920,"wires":[]},{"id":"4c95e49b.e030bc","type":"debug","z":"820817c9.817b98","name":"","active":true,"console":"false","complete":"false","x":470,"y":88.75,"wires":[]},{"id":"7fe2f945.b3e638","type":"debug","z":"820817c9.817b98","name":"","active":false,"console":"false","complete":"true","x":270,"y":920,"wires":[]},{"id":"e2161a39.a390c8","type":"toami out","z":"820817c9.817b98","name":"","config":"e407abad.1a67e8","timeout":"10000","retry":"1","interval":"1000000","x":1190,"y":580,"wires":[]},{"id":"f2efa5b9.dd8878","type":"debug","z":"820817c9.817b98","name":"","active":true,"console":"false","complete":"false","x":930,"y":980,"wires":[]},{"id":"f6b5261e.e82868","type":"delay","z":"820817c9.817b98","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":160,"wires":[["4ba08306.5d854c"]]},{"id":"25922589.159872","type":"function","z":"820817c9.817b98","name":"Translate for CSV","func":"function translate(value) {\n    return (\"0\" + value).slice(-2)\n}\n\nvar obj = Object.keys(msg.payload).reduce(function(obj, key) {\n    obj[key] = msg.payload[key];\n    return obj;\n}, {});\n\nvar date = new Date(obj.gwtimestamp)\nobj.date = util.format(\n  \"%d-%s-%s %s:%s:%s\",\n  date.getFullYear(),\n  translate(date.getMonth() + 1),\n  translate(date.getDate()),\n  translate(date.getHours()),\n  translate(date.getMinutes()),\n  translate(date.getSeconds())\n);\n\nif (obj.l01) {\n    obj.la = obj.l01.latitude;\n    obj.lo = obj.l01.longitude;\n}\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":700,"wires":[["40a17006.ae08d"]]},{"id":"9a65763.24b1388","type":"rm92a-serial","z":"","serialport":"/dev/ttyRM92A"},{"id":"2d7173da.92db2c","type":"rm92a-config","z":"","reset":"/home/pi/gateway/rm92a_reset.sh","mode":"2","ch":"24","panid":"0x1234","src":"0x0001","dst":"0xFFFF","pw":"0","bw":"0","sf":"4","bitrate":"50000","ack":false,"timeout":"1","retry":"0","rtc":"0"},{"id":"66e62bb.d2d4cd4","type":"slr429-serial","z":"","serialport":"/dev/ttySLR429"},{"id":"ecef75ae.65ede8","type":"slr429-config","z":"","mode":"3","gid":"0x00","eid":"0x01","did":"0x00","ch":"27","chip":"0"},{"id":"4a16cfc2.32ead","type":"serial-port","z":"","serialport":"/dev/ttyEnOcean","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"2293a6e3.2f6a0a","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"bin","out":"time","addchar":false},{"id":"e407abad.1a67e8","type":"toami-config","z":"","host":"demo01","gateway":"Thg_GW_iofv_nzo6","key":"beab7938-02be-48e4-b22f-cf25a4bbb86f"}]