flow/170324_RTK.txt
[{"id":"b8225551.aaee08","type":"tab","label":"Flow_send_RTK 20160324"},{"id":"892b8eb4.22f9b8","type":"rm92a in","z":"b8225551.aaee08","name":"","serial":"17bd1777.53f039","rm92a":"af802604.553178","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":720,"wires":[["17fd41a8.0cb546","d76dc8ac.8b06f8"]]},{"id":"f92b7a30.22368","type":"slr429 in","z":"b8225551.aaee08","name":"","serial":"8d9d362.1a23ac8","slr429":"1bb57043.96dca","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":900,"wires":[["7d64cf88.43fcc","397369f1.9f774e"]]},{"id":"81d181c.dc084","type":"delay","z":"b8225551.aaee08","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":460,"wires":[["7ab9d630.1ef14"]]},{"id":"27f34ecc.84ec7a","type":"function","z":"b8225551.aaee08","name":"hex to string","func":"\n/* globals msg */\nmsg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["1db3a177.574637"]]},{"id":"f11b8a8d.43d5b8","type":"function","z":"b8225551.aaee08","name":"Split for RM92A","func":"/* globals msg, node, util */\nvar max = 93;\nvar split = max;\n\nvar payload = msg.payload;\nvar num;\nvar digit = 1;\nfor (;; digit++) {\n    num = Math.ceil(payload.length / split);\n    if (num >= Math.pow(10, digit)) {\n        split = split - 2;\n    } else {\n        break;\n    }\n}\n\nif (split < 0) {\n    node.error(\"Can't split payload, because payload too long(\" + payload.length + \").\", msg);\n    return null;\n}\n\nvar zeroPadding = \"\";\nvar i;\nfor (i = 0; i < digit; i++) {\n    zeroPadding += \"0\";\n}\n\nvar seq;\nvar amount = (zeroPadding + num).slice(-digit);\nvar data;\nvar format;\nvar msgs = [];\nfor (i = 0; i < num; i++) {\n    seq = (zeroPadding + i).slice(-digit);\n    data = payload.slice(split * (i), Math.min(split * (i+1), payload.length));\n    format = util.format(\"@F;%s;%s;%s\", seq, amount, data);\n    msgs.push({topic: i, payload: format});\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":960,"y":160,"wires":[["ea764cc5.a2e938","a8d1ad65.dc79b"]]},{"id":"5eaddaed.0193b4","type":"rm92a out","z":"b8225551.aaee08","serial":"17bd1777.53f039","rm92a":"af802604.553178","dst":"0xFFFF","x":1340,"y":160,"wires":[]},{"id":"25e7bbaf.5326fc","type":"slr429 out","z":"b8225551.aaee08","serial":"8d9d362.1a23ac8","slr429":"1bb57043.96dca","gid":"0x00","did":"0x00","x":1000,"y":340,"wires":[]},{"id":"41d7122e.b5ff3c","type":"function","z":"b8225551.aaee08","name":"Collect Toami Data","func":"\n/*globals msg, context */\nvar startTrigger = \"@start\";\nvar sendTrigger = \"@send\";\n\nvar keys = [\n    \"n01\", \"n02\", \"n03\", \"n04\", \"n05\", \"n06\", \"n07\", \"n08\", \"n09\", \"n10\",\n    \"n11\", \"n12\", \"n13\", \"n14\", \"n15\", \"n16\", \"n17\", \"n18\", \"n19\", \"n20\",\n    \"n21\", \"n22\", \"n23\", \"n24\", \"n25\", \"n26\", \"n27\", \"n28\", \"n29\", \"n30\",\n    \"s01\", \"s02\", \"s03\", \"s04\", \"s05\", \"s06\", \"s07\", \"s08\", \"s09\", \"s10\",\n    \"l01\",\n];\n\nvar timestampKey = \"gwtimestamp\";\nvar toami;\n\nvar payload = msg.payload;\nif (msg.payload === startTrigger) {\n    context.temp = {};\n    return null;\n} else if (msg.payload === sendTrigger) {\n    if (!context.temp) {\n        return null;\n    }\n\n    toami = context.temp;\n    context.temp = null;\n\n    if (Object.keys(toami).length === 0) {\n        return null;\n    }\n\n    toami[timestampKey] = Date.now();\n    return { payload: toami };\n} else {\n    if (!context.temp) {\n        return null;\n    }\n\n    keys.forEach(function(key) {\n        if (payload.hasOwnProperty(key)) {\n            context.temp[key] = payload[key];\n        }\n    });\n    return null;\n}","outputs":1,"noerr":0,"x":1250,"y":540,"wires":[[]]},{"id":"bf42a06e.603f48","type":"csv","z":"b8225551.aaee08","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date,n01,n02,n03,n04,n05,n06,n07,n08,n09,n10,n11,n12,n13,n14,n15,n16,n17,n18,n19,n20,n21,n22,n23,n24,n25,n26,n27,n28,n29,n30,la,lo","x":1490,"y":840,"wires":[["1c919c15.701f74"]]},{"id":"68e60a92.5e195c","type":"file","z":"b8225551.aaee08","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1810,"y":840,"wires":[]},{"id":"63e62540.2d520c","type":"change","z":"b8225551.aaee08","name":"trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["25e7bbaf.5326fc","a4b9ec50.3ce038"]]},{"id":"b49af2cb.d5736","type":"change","z":"b8225551.aaee08","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n01","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n02","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n03","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n23","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[["ddbf2986.9b51b"]]},{"id":"b22ddf1f.81cf5","type":"change","z":"b8225551.aaee08","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n04","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n05","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n06","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n24","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":760,"wires":[["ddbf2986.9b51b"]]},{"id":"7ab9d630.1ef14","type":"change","z":"b8225551.aaee08","name":"send trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@send","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":460,"wires":[[]]},{"id":"17fd41a8.0cb546","type":"function","z":"b8225551.aaee08","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":720,"wires":[["359fe4ec.6c3834"]]},{"id":"359fe4ec.6c3834","type":"switch","z":"b8225551.aaee08","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":720,"wires":[["b49af2cb.d5736"],["b22ddf1f.81cf5"]]},{"id":"3b48d9b7.554d06","type":"change","z":"b8225551.aaee08","name":"start trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[[]]},{"id":"7d64cf88.43fcc","type":"function","z":"b8225551.aaee08","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":900,"wires":[["5f558a71.a9ce4c"]]},{"id":"5f558a71.a9ce4c","type":"switch","z":"b8225551.aaee08","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":900,"wires":[["2512c816.9cf268"],["ffeb849.2856bf8"]]},{"id":"2512c816.9cf268","type":"change","z":"b8225551.aaee08","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n07","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n08","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n09","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n25","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":860,"wires":[["ddbf2986.9b51b"]]},{"id":"ffeb849.2856bf8","type":"change","z":"b8225551.aaee08","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n10","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n11","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n12","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n26","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":920,"wires":[["ddbf2986.9b51b"]]},{"id":"c0c14cfa.925a68","type":"serial in","z":"b8225551.aaee08","name":"EnOcean","serial":"694480ce.29923","x":180,"y":1160,"wires":[["b5884992.a726a","e2b9ae63.21235"]]},{"id":"8dd41ff8.fe9c28","type":"switch","z":"b8225551.aaee08","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"04017d2a","vt":"str"},{"t":"eq","v":"0400d4ff","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":1160,"wires":[["4b1d82da.0f8a64"],["c352cf14.f7f2b"]]},{"id":"4b1d82da.0f8a64","type":"change","z":"b8225551.aaee08","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n13","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n14","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n27","tot":"msg"},{"t":"delete","p":"id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1120,"wires":[["249a8e7e.60fdea","ddbf2986.9b51b"]]},{"id":"c352cf14.f7f2b","type":"change","z":"b8225551.aaee08","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n15","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n16","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n28","tot":"msg"},{"t":"delete","p":"id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1200,"wires":[["249a8e7e.60fdea","ddbf2986.9b51b"]]},{"id":"8c903c0a.8fabf","type":"serial in","z":"b8225551.aaee08","name":"RTCM","serial":"7d02a7e3.52e498","x":170,"y":340,"wires":[["37b5122c.cb009e"]]},{"id":"37b5122c.cb009e","type":"delay","z":"b8225551.aaee08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":340,"wires":[["27f34ecc.84ec7a","63e62540.2d520c","81d181c.dc084","3b48d9b7.554d06","3b6d9221.ffb15e"]]},{"id":"b5884992.a726a","type":"esp3 in","z":"b8225551.aaee08","name":"","eeps":[{"id":"04017d2a","eep":"a5-04-01"},{"id":"0400d4ff","eep":"a5-04-01"}],"x":350,"y":1160,"wires":[["8dd41ff8.fe9c28","7c0d29be.268a5"]]},{"id":"52e41798.92df58","type":"debug","z":"b8225551.aaee08","name":"","active":true,"console":"false","complete":"false","x":1230,"y":680,"wires":[]},{"id":"ea764cc5.a2e938","type":"debug","z":"b8225551.aaee08","name":"","active":true,"console":"false","complete":"false","x":1170,"y":80,"wires":[]},{"id":"a4b9ec50.3ce038","type":"debug","z":"b8225551.aaee08","name":"","active":false,"console":"false","complete":"false","x":750,"y":300,"wires":[]},{"id":"d76dc8ac.8b06f8","type":"debug","z":"b8225551.aaee08","name":"","active":true,"console":"false","complete":"false","x":330,"y":660,"wires":[]},{"id":"397369f1.9f774e","type":"debug","z":"b8225551.aaee08","name":"","active":false,"console":"false","complete":"false","x":330,"y":840,"wires":[]},{"id":"7c0d29be.268a5","type":"debug","z":"b8225551.aaee08","name":"","active":true,"console":"false","complete":"true","x":510,"y":1060,"wires":[]},{"id":"3b6d9221.ffb15e","type":"debug","z":"b8225551.aaee08","name":"","active":true,"console":"false","complete":"false","x":550,"y":100,"wires":[]},{"id":"e2b9ae63.21235","type":"debug","z":"b8225551.aaee08","name":"","active":false,"console":"false","complete":"true","x":350,"y":1060,"wires":[]},{"id":"d8bae070.fe05f","type":"toami out","z":"b8225551.aaee08","name":"","config":"6140195f.e6de78","delay":"1000","timeout":"5000","retry":"10000","interval":"1000","x":1210,"y":760,"wires":[]},{"id":"249a8e7e.60fdea","type":"debug","z":"b8225551.aaee08","name":"","active":false,"console":"false","complete":"true","x":990,"y":1160,"wires":[]},{"id":"a8d1ad65.dc79b","type":"delay","z":"b8225551.aaee08","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":160,"wires":[["5eaddaed.0193b4"]]},{"id":"c2d829f4.0e271","type":"function","z":"b8225551.aaee08","name":"Translate for CSV","func":"function translate(value) {\n    return (\"0\" + value).slice(-2)\n}\n\nvar obj = Object.keys(msg.payload).reduce(function(obj, key) {\n    obj[key] = msg.payload[key];\n    return obj;\n}, {});\n\nvar date = new Date(obj.gwtimestamp)\nobj.date = util.format(\n  \"%d-%s-%s %s:%s:%s\",\n  date.getFullYear(),\n  translate(date.getMonth() + 1),\n  translate(date.getDate()),\n  translate(date.getHours()),\n  translate(date.getMinutes()),\n  translate(date.getSeconds())\n);\n\nif (obj.l01) {\n    obj.la = obj.l01.latitude;\n    obj.lo = obj.l01.longitude;\n}\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":840,"wires":[["bf42a06e.603f48"]]},{"id":"ddbf2986.9b51b","type":"function","z":"b8225551.aaee08","name":"add time stamp","func":"\nmsg.payload.gwtimestamp = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":760,"wires":[["c2d829f4.0e271","52e41798.92df58","d8bae070.fe05f"]]},{"id":"1db3a177.574637","type":"function","z":"b8225551.aaee08","name":"div_rtk_message","func":"index = msg.payload.indexOf(\"24474e524d43\");\n//msg.original = msg.payload;\n//msg.position = index;\nif(index>0) {\n    message = msg.payload.substr(index,msg.payload.length);\n//    msg.gnrmc = msg.payload.substr(index,64);\n    msg.gnrmc = \"\";\n    i=0;\n    while(i<message.length) {\n        msg.gnrmc += String.fromCharCode(parseInt(message.substr(i,2),16));\n        i+=2;\n   }\n    msg.payload = msg.payload.substr(0,index);\n} \n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["f11b8a8d.43d5b8","54baef65.8c847"]]},{"id":"78b91e6f.4148f","type":"function","z":"b8225551.aaee08","name":"gnrmc_parser","func":"var newMsg={};\n//newMsg.payload = msg.gnrmc.split(\"\\r\\n\");\narray = msg.gnrmc.split(\"\\r\\n\");\nfor(var i= 0; i < array.length; i++) {\n   if(array[i].split(\",\")[i]==\"$GNRMC\") {\n       newMsg.dst = 1;\n       newMsg.rssi = 0;\n       newMsg.payload = \"1,\"+array[i]+\",BME280,0,0,0\";\n       break;\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":1120,"y":240,"wires":[["42ada763.40d2f"]]},{"id":"97ea38d0.ee8c58","type":"change","z":"b8225551.aaee08","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":600,"wires":[["ddbf2986.9b51b"]]},{"id":"54baef65.8c847","type":"delay","z":"b8225551.aaee08","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":240,"wires":[["78b91e6f.4148f"]]},{"id":"42ada763.40d2f","type":"function","z":"b8225551.aaee08","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["97ea38d0.ee8c58"]]},{"id":"9e33c06f.76ecf","type":"comment","z":"b8225551.aaee08","name":"EnOcean","info":"EDOCOMO's node\n 04017d2a\n 0400d4ff\n\nEProfile\n a5-02-05: temprature\n a5-04-01  temprature&humidity\n \nELapis's node\n 04017d07\n 0400f427 ","x":580,"y":1260,"wires":[]},{"id":"aa0b1209.12acf8","type":"comment","z":"b8225551.aaee08","name":"Gateway Settings","info":"Proto type(dcm_lpwagw_001)\n Thg_GW_iofv_nzo6\n beab7938-02be-48e4-b22f-cf25a4bbb86f\n\ndcm_lpwagw_002\n Thg_GW_iofv_6o5k\n 7c5427e3-acc1-4cdd-b301-9c4deab9055f\n \ndcm_lpwagw_003\n Thg_GW_iofv_7bb9\n b8607fd2-40f9-44f5-88d3-6d08feb86153\n \ndcm_lpwagw_004\n Thg_GW_iofv_jf9z\n 6e0df810-71fe-4bc1-88ea-40556c27ee36\n \ndcm_lpwagw_005\n Thg_GW_iofv_1kar\n 37911a00-2bbd-4086-ba15-671ee44ea8df\n \ndcm_lpwagw_006\n Thg_GW_iofv_e60d\n cf00f80f-78a4-4304-a97a-41f7b69f30ef\n","x":1360,"y":760,"wires":[]},{"id":"c53f57f9.4f7b58","type":"debug","z":"b8225551.aaee08","name":"","active":true,"console":"false","complete":"true","x":1810,"y":780,"wires":[]},{"id":"1c919c15.701f74","type":"log file","z":"b8225551.aaee08","name":"save log","filePath":"/media/pi/8EB8-FB0A","x":1660,"y":840,"wires":[["68e60a92.5e195c","c53f57f9.4f7b58"]]},{"id":"17bd1777.53f039","type":"rm92a-serial","z":"","serialport":"/dev/ttyRM92A"},{"id":"af802604.553178","type":"rm92a-config","z":"","reset":"/home/pi/gateway/rm92a_reset.sh","mode":"2","ch":"24","panid":"0x1234","src":"0x0001","dst":"0xFFFF","pw":"0","bw":"0","sf":"4","bitrate":"50000","ack":false,"timeout":"1","retry":"0","rtc":"0"},{"id":"8d9d362.1a23ac8","type":"slr429-serial","z":"","serialport":"/dev/ttySLR429"},{"id":"1bb57043.96dca","type":"slr429-config","z":"","mode":"3","gid":"0x00","eid":"0x01","did":"0x00","ch":"27","chip":"0"},{"id":"694480ce.29923","type":"serial-port","z":"","serialport":"/dev/ttyEnOcean","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"7d02a7e3.52e498","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"bin","out":"time","addchar":false},{"id":"6140195f.e6de78","type":"toami-config","z":"","host":"demo01","gateway":"Thg_GW_iofv_1kar","key":"37911a00-2bbd-4086-ba15-671ee44ea8df"}]