flow/170324_noGPS.txt
[{"id":"a1d7fcd2.a1f9b8","type":"tab","label":"Flow for No GPS 20160323"},{"id":"cea748d4.651198","type":"rm92a in","z":"a1d7fcd2.a1f9b8","name":"","serial":"17bd1777.53f039","rm92a":"af802604.553178","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":720,"wires":[["bb2ad103.e4eb38","9fd5f601.5e3058"]]},{"id":"4657997.0edece8","type":"slr429 in","z":"a1d7fcd2.a1f9b8","name":"","serial":"8d9d362.1a23ac8","slr429":"1bb57043.96dca","interval":"1000","enbinterval":true,"latestpacket":false,"x":170,"y":900,"wires":[["9f47ba5b.827578","f0b2c19e.c037e8"]]},{"id":"924a8290.2f889","type":"rm92a out","z":"a1d7fcd2.a1f9b8","serial":"17bd1777.53f039","rm92a":"af802604.553178","dst":"0xFFFF","x":720,"y":320,"wires":[]},{"id":"5de72f26.c17df","type":"slr429 out","z":"a1d7fcd2.a1f9b8","serial":"8d9d362.1a23ac8","slr429":"1bb57043.96dca","gid":"0x00","did":"0x00","x":720,"y":360,"wires":[]},{"id":"38aae3c.f62c89c","type":"function","z":"a1d7fcd2.a1f9b8","name":"Collect Toami Data","func":"\n/*globals msg, context */\nvar startTrigger = \"@start\";\nvar sendTrigger = \"@send\";\n\nvar keys = [\n    \"n01\", \"n02\", \"n03\", \"n04\", \"n05\", \"n06\", \"n07\", \"n08\", \"n09\", \"n10\",\n    \"n11\", \"n12\", \"n13\", \"n14\", \"n15\", \"n16\", \"n17\", \"n18\", \"n19\", \"n20\",\n    \"n21\", \"n22\", \"n23\", \"n24\", \"n25\", \"n26\", \"n27\", \"n28\", \"n29\", \"n30\",\n    \"s01\", \"s02\", \"s03\", \"s04\", \"s05\", \"s06\", \"s07\", \"s08\", \"s09\", \"s10\",\n    \"l01\",\n];\n\nvar timestampKey = \"gwtimestamp\";\nvar toami;\n\nvar payload = msg.payload;\nif (msg.payload === startTrigger) {\n    context.temp = {};\n    return null;\n} else if (msg.payload === sendTrigger) {\n    if (!context.temp) {\n        return null;\n    }\n\n    toami = context.temp;\n    context.temp = null;\n\n    if (Object.keys(toami).length === 0) {\n        return null;\n    }\n\n    toami[timestampKey] = Date.now();\n    return { payload: toami };\n} else {\n    if (!context.temp) {\n        return null;\n    }\n\n    keys.forEach(function(key) {\n        if (payload.hasOwnProperty(key)) {\n            context.temp[key] = payload[key];\n        }\n    });\n    return null;\n}","outputs":1,"noerr":0,"x":1250,"y":540,"wires":[[]]},{"id":"3b3b74be.dc7014","type":"csv","z":"a1d7fcd2.a1f9b8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"date,n01,n02,n03,n04,n05,n06,n07,n08,n09,n10,n11,n12,n13,n14,n15,n16,n17,n18,n19,n20,n21,n22,n23,n24,n25,n26,n27,n28,n29,n30,la,lo","x":1490,"y":840,"wires":[["1626b766.275439","9e8f1568.2ab5"]]},{"id":"97cff438.db7738","type":"file","z":"a1d7fcd2.a1f9b8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1810,"y":840,"wires":[]},{"id":"7dbef9a3.e4317","type":"change","z":"a1d7fcd2.a1f9b8","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n01","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n02","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n03","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n23","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":680,"wires":[["f56853ef.8dcab"]]},{"id":"d76d5c2e.53e578","type":"change","z":"a1d7fcd2.a1f9b8","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n04","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n05","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n06","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n24","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":760,"wires":[["f56853ef.8dcab"]]},{"id":"bb2ad103.e4eb38","type":"function","z":"a1d7fcd2.a1f9b8","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":720,"wires":[["5d6a07bb.b499c"]]},{"id":"5d6a07bb.b499c","type":"switch","z":"a1d7fcd2.a1f9b8","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":720,"wires":[["7dbef9a3.e4317"],["d76d5c2e.53e578"]]},{"id":"9f47ba5b.827578","type":"function","z":"a1d7fcd2.a1f9b8","name":"Packet Parser","func":"// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nvar location = (function(gnrmc) {\n\n    function translate(value) {\n        var degrees = parseInt(value[1], 10);\n        var minutes = parseFloat(value[2] + \".\" + value[3], 10);\n        return degrees + (minutes / 60);\n    }\n\n    if (!gnrmc) {\n        return;\n    }\n\n    var m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    return { latitude: latitude, longitude: longitude };\n}(gnrmc));\n\nif (location) {\n    result.payload.location = location;\n}\n\nreturn result;","outputs":1,"noerr":0,"x":340,"y":900,"wires":[["9a35e77e.919258"]]},{"id":"9a35e77e.919258","type":"switch","z":"a1d7fcd2.a1f9b8","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":2,"x":550,"y":900,"wires":[["1c3980f1.de010f"],["42eaf1da.8ad6c8"]]},{"id":"1c3980f1.de010f","type":"change","z":"a1d7fcd2.a1f9b8","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n07","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n08","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n09","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n25","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":860,"wires":[["f56853ef.8dcab"]]},{"id":"42eaf1da.8ad6c8","type":"change","z":"a1d7fcd2.a1f9b8","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n10","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n11","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n12","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n26","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":920,"wires":[["f56853ef.8dcab"]]},{"id":"9e2dfacf.25ccd8","type":"serial in","z":"a1d7fcd2.a1f9b8","name":"EnOcean","serial":"694480ce.29923","x":180,"y":1160,"wires":[["11c03ed6.535e09","363a68de.eecda"]]},{"id":"6d1a038f.7490a4","type":"switch","z":"a1d7fcd2.a1f9b8","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"04017d2a","vt":"str"},{"t":"eq","v":"0400d4ff","vt":"str"}],"checkall":"true","outputs":2,"x":570,"y":1160,"wires":[["45c1b2d6.cf9edc"],["1c7569.ea8cea97"]]},{"id":"45c1b2d6.cf9edc","type":"change","z":"a1d7fcd2.a1f9b8","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n13","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n14","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n27","tot":"msg"},{"t":"delete","p":"id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1120,"wires":[["1b3617a8.ce732","f56853ef.8dcab"]]},{"id":"1c7569.ea8cea97","type":"change","z":"a1d7fcd2.a1f9b8","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature.value","pt":"msg","to":"payload.n15","tot":"msg"},{"t":"move","p":"payload.humidity.value","pt":"msg","to":"payload.n16","tot":"msg"},{"t":"move","p":"rssi","pt":"msg","to":"payload.n28","tot":"msg"},{"t":"delete","p":"id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1200,"wires":[["1b3617a8.ce732","f56853ef.8dcab"]]},{"id":"11c03ed6.535e09","type":"esp3 in","z":"a1d7fcd2.a1f9b8","name":"","eeps":[{"id":"04017d2a","eep":"a5-04-01"},{"id":"0400d4ff","eep":"a5-04-01"}],"x":350,"y":1160,"wires":[["6d1a038f.7490a4","50e82395.2ededc"]]},{"id":"2f9f74c6.e115cc","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":true,"console":"false","complete":"false","x":1230,"y":680,"wires":[]},{"id":"dda5c62d.b0dc28","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":true,"console":"false","complete":"true","x":723,"y":268,"wires":[]},{"id":"9fd5f601.5e3058","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":true,"console":"false","complete":"false","x":330,"y":660,"wires":[]},{"id":"f0b2c19e.c037e8","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":true,"console":"false","complete":"true","x":310,"y":840,"wires":[]},{"id":"50e82395.2ededc","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":true,"console":"false","complete":"true","x":510,"y":1060,"wires":[]},{"id":"363a68de.eecda","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":false,"console":"false","complete":"true","x":350,"y":1060,"wires":[]},{"id":"c22e6950.3f4ad8","type":"toami out","z":"a1d7fcd2.a1f9b8","name":"","config":"6140195f.e6de78","delay":"1000","timeout":"5000","retry":"10000","interval":"1000","x":1210,"y":760,"wires":[]},{"id":"1b3617a8.ce732","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":false,"console":"false","complete":"true","x":990,"y":1160,"wires":[]},{"id":"dff04aa0.fccb88","type":"function","z":"a1d7fcd2.a1f9b8","name":"Translate for CSV","func":"function translate(value) {\n    return (\"0\" + value).slice(-2)\n}\n\nvar obj = Object.keys(msg.payload).reduce(function(obj, key) {\n    obj[key] = msg.payload[key];\n    return obj;\n}, {});\n\nvar date = new Date(obj.gwtimestamp)\nobj.date = util.format(\n  \"%d-%s-%s %s:%s:%s\",\n  date.getFullYear(),\n  translate(date.getMonth() + 1),\n  translate(date.getDate()),\n  translate(date.getHours()),\n  translate(date.getMinutes()),\n  translate(date.getSeconds())\n);\n\nif (obj.l01) {\n    obj.la = obj.l01.latitude;\n    obj.lo = obj.l01.longitude;\n}\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":840,"wires":[["3b3b74be.dc7014"]]},{"id":"f56853ef.8dcab","type":"function","z":"a1d7fcd2.a1f9b8","name":"add time stamp","func":"\nmsg.payload.gwtimestamp = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":760,"wires":[["dff04aa0.fccb88","2f9f74c6.e115cc","c22e6950.3f4ad8"]]},{"id":"ae430e1d.789408","type":"comment","z":"a1d7fcd2.a1f9b8","name":"EnOcean","info":"ÅEDOCOMO's node\n 04017d2a\n 0400d4ff\n\nÅEProfile\n a5-02-05: temprature\n a5-04-01  temprature&humidity\n \nÅELapis's node\n 04017d07\n 0400f427 ","x":580,"y":1260,"wires":[]},{"id":"48f59fa4.c8db88","type":"comment","z":"a1d7fcd2.a1f9b8","name":"Gateway Settings","info":"Proto type(dcm_lpwagw_001)\n Thg_GW_iofv_nzo6\n beab7938-02be-48e4-b22f-cf25a4bbb86f\n\ndcm_lpwagw_002\n Thg_GW_iofv_6o5k\n 7c5427e3-acc1-4cdd-b301-9c4deab9055f\n \ndcm_lpwagw_003\n Thg_GW_iofv_7bb9\n b8607fd2-40f9-44f5-88d3-6d08feb86153\n \ndcm_lpwagw_004\n Thg_GW_iofv_jf9z\n 6e0df810-71fe-4bc1-88ea-40556c27ee36\n \ndcm_lpwagw_005\n Thg_GW_iofv_1kar\n 37911a00-2bbd-4086-ba15-671ee44ea8df\n \ndcm_lpwagw_006\n Thg_GW_iofv_e60d\n cf00f80f-78a4-4304-a97a-41f7b69f30ef\n","x":1360,"y":760,"wires":[]},{"id":"1626b766.275439","type":"log file","z":"a1d7fcd2.a1f9b8","name":"save log","filePath":"/media/pi/8EB8-FB0A","x":1640,"y":840,"wires":[["97cff438.db7738"]]},{"id":"4c28f53.cf16c0c","type":"inject","z":"a1d7fcd2.a1f9b8","name":"","topic":"","payload":"@trigger","payloadType":"str","repeat":"20","crontab":"","once":true,"x":280,"y":340,"wires":[["924a8290.2f889","5de72f26.c17df","dda5c62d.b0dc28"]]},{"id":"9e8f1568.2ab5","type":"debug","z":"a1d7fcd2.a1f9b8","name":"","active":true,"console":"false","complete":"true","x":1630,"y":900,"wires":[]},{"id":"17bd1777.53f039","type":"rm92a-serial","z":"","serialport":"/dev/ttyRM92A"},{"id":"af802604.553178","type":"rm92a-config","z":"","reset":"/home/pi/gateway/rm92a_reset.sh","mode":"2","ch":"24","panid":"0x1234","src":"0x0001","dst":"0xFFFF","pw":"0","bw":"0","sf":"4","bitrate":"50000","ack":false,"timeout":"1","retry":"0","rtc":"0"},{"id":"8d9d362.1a23ac8","type":"slr429-serial","z":"","serialport":"/dev/ttySLR429"},{"id":"1bb57043.96dca","type":"slr429-config","z":"","mode":"3","gid":"0x00","eid":"0x01","did":"0x00","ch":"27","chip":"0"},{"id":"694480ce.29923","type":"serial-port","z":"","serialport":"/dev/ttyEnOcean","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"6140195f.e6de78","type":"toami-config","z":"","host":"demo01","gateway":"Thg_GW_iofv_1kar","key":"37911a00-2bbd-4086-ba15-671ee44ea8df"}]