Gateway/memo/base.json
[{"id":"ef482600.8ca9a8","type":"toami out","z":"3b2ecee8.2763da","name":"","config":"","timeout":"","retry":"","interval":"","x":1195,"y":479,"wires":[]},{"id":"221d2451.e89854","type":"rm92a in","z":"3b2ecee8.2763da","name":"","serial":"ac8e213f.257558","rm92a":"","interval":"1000","enbinterval":true,"latestpacket":false,"x":82,"y":473.5,"wires":[["abc90be4.a897a"]]},{"id":"2ee3b938.f3247e","type":"slr429 in","z":"3b2ecee8.2763da","name":"","serial":"5497306f.b6ca3","slr429":"","interval":"1000","enbinterval":true,"latestpacket":false,"x":77,"y":647.5,"wires":[["bc4d7d05.118cf8"]]},{"id":"4112d53.a50c32c","type":"delay","z":"3b2ecee8.2763da","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":239,"y":365.5,"wires":[["d70aafc9.7aff4"]]},{"id":"2904f997.8fda26","type":"function","z":"3b2ecee8.2763da","name":"hex to string","func":"\n/* globals msg */\nmsg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":98.5,"wires":[["da736ae4.238c68"]]},{"id":"da736ae4.238c68","type":"function","z":"3b2ecee8.2763da","name":"Split for RM92A","func":"\n/* globals msg, node, util */\nvar max = 93;\nvar split = max;\n\nvar payload = msg.payload;\nvar num;\nvar digit = 1;\nfor (;; digit++) {\n    num = Math.ceil(payload.length / split);\n    if (num >= Math.pow(10, digit)) {\n        split = split - 2;\n    } else {\n        break;\n    }\n}\n\nif (split < 0) {\n    node.error(\"Can't split payload, because payload too long(\" + payload.length + \").\", msg);\n    return null;\n}\n\nvar zeroPadding = \"\";\nvar i;\nfor (i = 0; i < digit; i++) {\n    zeroPadding += \"0\";\n}\n\nvar seq;\nvar amount = (zeroPadding + num).slice(-digit);\nvar data;\nvar format;\nvar msgs = [];\nfor (i = 0; i < num; i++) {\n    seq = (zeroPadding + i).slice(-digit);\n    data = payload.slice(split * (i), Math.min(split * (i+1), payload.length));\n    format = util.format(\"@F;%s;%s;%s\", seq, amount, data);\n    msgs.push({topic: i, payload: format});\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":597,"y":98.5,"wires":[["12f59360.ad7075"]]},{"id":"99c2e6e7.fdc19","type":"rm92a out","z":"3b2ecee8.2763da","serial":"ac8e213f.257558","rm92a":"","dst":"0xFFFF","x":1144,"y":97,"wires":[]},{"id":"42a5ada6.d3e704","type":"slr429 out","z":"3b2ecee8.2763da","serial":"5497306f.b6ca3","slr429":"","gid":"0x00","did":"0x00","x":1145,"y":206,"wires":[]},{"id":"1bb10b53.4c494d","type":"function","z":"3b2ecee8.2763da","name":"Collect Toami Data","func":"\n/*globals msg, context */\nvar startTrigger = \"@start\";\nvar sendTrigger = \"@send\";\n\nvar keys = [\n    \"n01\", \"n02\", \"n03\", \"n04\", \"n05\", \"n06\", \"n07\", \"n08\", \"n09\", \"n10\",\n    \"n11\", \"n12\", \"n13\", \"n14\", \"n15\", \"n16\", \"n17\", \"n18\", \"n19\", \"n20\",\n    \"n21\", \"n22\", \"n23\", \"n24\", \"n25\", \"n26\", \"n27\", \"n28\", \"n29\", \"n30\",\n    \"s01\", \"s02\", \"s03\", \"s04\", \"s05\", \"s06\", \"s07\", \"s08\", \"s09\", \"s10\",\n    \"l01\",\n];\n\nvar timestampKey = \"gwtimestamp\";\nvar toami;\n\nvar payload = msg.payload;\nif (msg.payload === startTrigger) {\n    context.temp = {};\n    return null;\n} else if (msg.payload === sendTrigger) {\n    if (!context.temp) {\n        return null;\n    }\n\n    toami = context.temp;\n    context.temp = null;\n\n    if (Object.keys(toami).length === 0) {\n        return null;\n    }\n\n    toami[timestampKey] = Date.now();\n    return { payload: toami };\n} else {\n    if (!context.temp) {\n        return null;\n    }\n\n    keys.forEach(function(key) {\n        if (payload.hasOwnProperty(key)) {\n            context.temp[key] = payload[key];\n        }\n    });\n    return null;\n}","outputs":1,"noerr":0,"x":724,"y":477.5,"wires":[["ef482600.8ca9a8","6ae230c1.71eb78"]]},{"id":"bbb45551.da0fd","type":"function","z":"3b2ecee8.2763da","name":"Write File","func":"\n/*globals msg, context, util */\nvar payload = msg.payload;\nvar dir = \"/home/pi/toami\";\n\nif (Number.isFinite(payload)) {\n    // timestamp\n    var date = new Date(payload);\n    context.filename = util.format(\"%s/toami_%d%s%s%s%s%s.csv\",\n        dir,\n        date.getFullYear(),\n        (\"0\" + (date.getMonth() + 1)).slice(-2),\n        (\"0\" + date.getDate()).slice(-2),\n        (\"0\" + date.getHours()).slice(-2),\n        (\"0\" + date.getMinutes()).slice(-2),\n        (\"0\" + date.getSeconds()).slice(-2));\n    return null;\n} else {\n    // csv\n    return {\n        filename: context.filename,\n        payload: msg.payload,\n    };\n}","outputs":"1","noerr":0,"x":1043,"y":405.5,"wires":[["de61e316.f92d88"]]},{"id":"6ae230c1.71eb78","type":"csv","z":"3b2ecee8.2763da","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":887,"y":405.5,"wires":[["bbb45551.da0fd"]]},{"id":"e86a0555.4d7de","type":"inject","z":"3b2ecee8.2763da","name":"timestamp every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":813,"y":305.5,"wires":[["bbb45551.da0fd"]]},{"id":"de61e316.f92d88","type":"file","z":"3b2ecee8.2763da","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1192,"y":405.5,"wires":[]},{"id":"20e9ca10.9fde3e","type":"change","z":"3b2ecee8.2763da","name":"trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":359,"y":208.5,"wires":[["42a5ada6.d3e704"]]},{"id":"b7d85f9f.7f9a9","type":"change","z":"3b2ecee8.2763da","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n01","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n02","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n03","tot":"msg"},{"t":"move","p":"payload.location","pt":"msg","to":"payload.l01","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":445,"y":475.5,"wires":[["1bb10b53.4c494d"]]},{"id":"9f89b0d3.14547","type":"change","z":"3b2ecee8.2763da","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n04","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n05","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n06","tot":"msg"},{"t":"delete","p":"payload.location","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":446,"y":551,"wires":[["1bb10b53.4c494d"]]},{"id":"d70aafc9.7aff4","type":"change","z":"3b2ecee8.2763da","name":"send trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@send","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":423,"y":366,"wires":[["1bb10b53.4c494d"]]},{"id":"abc90be4.a897a","type":"function","z":"3b2ecee8.2763da","name":"Packet Parser","func":"\n// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\nfunction translate(value) {\n    var degrees = parseInt(value[1], 10);\n    var minutes = parseInt(value[2], 10);\n    var seconds = parseFloat(value[3].replace(/(\\d{2})(\\d*)/, \"$1.$2\"));\n    return degrees + (minutes / 60) + (seconds / 3600);\n}\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nif (gnrmc) {\n        m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    result.payload.location = { latitude: latitude, longitude: longitude };\n}\n\nreturn result;","outputs":1,"noerr":0,"x":127,"y":544.5,"wires":[["bd0e47a5.f26b3"]]},{"id":"bd0e47a5.f26b3","type":"switch","z":"3b2ecee8.2763da","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":2,"x":224,"y":614.5000305175781,"wires":[["b7d85f9f.7f9a9"],["9f89b0d3.14547"]]},{"id":"c558031a.64496","type":"change","z":"3b2ecee8.2763da","name":"start trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":422,"y":289,"wires":[["1bb10b53.4c494d"]]},{"id":"bc4d7d05.118cf8","type":"function","z":"3b2ecee8.2763da","name":"Packet Parser","func":"\n// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\nfunction translate(value) {\n    var degrees = parseInt(value[1], 10);\n    var minutes = parseInt(value[2], 10);\n    var seconds = parseFloat(value[3].replace(/(\\d{2})(\\d*)/, \"$1.$2\"));\n    return degrees + (minutes / 60) + (seconds / 3600);\n}\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nif (gnrmc) {\n        m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    result.payload.location = { latitude: latitude, longitude: longitude };\n}\n\nreturn result;","outputs":1,"noerr":0,"x":124,"y":721,"wires":[["65ed6009.b4be58"]]},{"id":"65ed6009.b4be58","type":"switch","z":"3b2ecee8.2763da","name":"","property":"src","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","outputs":2,"x":180,"y":783.0000305175781,"wires":[["36c8b909.27dc36"],["bbcbff75.23e918"]]},{"id":"36c8b909.27dc36","type":"change","z":"3b2ecee8.2763da","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n07","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n08","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n09","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":445,"y":680,"wires":[["1bb10b53.4c494d"]]},{"id":"bbcbff75.23e918","type":"change","z":"3b2ecee8.2763da","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n10","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n11","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n12","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":446,"y":755.5,"wires":[["1bb10b53.4c494d"]]},{"id":"e95b4863.89f1b8","type":"serial in","z":"3b2ecee8.2763da","name":"EnOcean","serial":"f0f615ba.7b902","x":81,"y":872.5,"wires":[["fa3b55b3.383a5"]]},{"id":"71d69b03.17dbe4","type":"switch","z":"3b2ecee8.2763da","name":"","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":246,"y":942,"wires":[["33b16278.4727ae"],["3959d493.e3d694"]]},{"id":"33b16278.4727ae","type":"change","z":"3b2ecee8.2763da","name":"RF1 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n13","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n14","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n15","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":907,"wires":[["1bb10b53.4c494d"]]},{"id":"3959d493.e3d694","type":"change","z":"3b2ecee8.2763da","name":"RF2 convert toami","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload.n16","tot":"msg"},{"t":"move","p":"payload.humidity","pt":"msg","to":"payload.n17","tot":"msg"},{"t":"move","p":"payload.pressure","pt":"msg","to":"payload.n18","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":979,"wires":[["1bb10b53.4c494d"]]},{"id":"47ef4025.07773","type":"serial in","z":"3b2ecee8.2763da","name":"RTCM","serial":"e57727c4.b16f6","x":55,"y":95.5,"wires":[["95b9dab9.f29818"]]},{"id":"95b9dab9.f29818","type":"delay","z":"3b2ecee8.2763da","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":105,"y":172.5,"wires":[["2904f997.8fda26","20e9ca10.9fde3e","4112d53.a50c32c","c558031a.64496"]]},{"id":"fa3b55b3.383a5","type":"esp3 in","z":"3b2ecee8.2763da","name":"","eeps":[],"x":105,"y":943.5,"wires":[["71d69b03.17dbe4"]]},{"id":"354e7a9.4884386","type":"comment","z":"3b2ecee8.2763da","name":"a5-02-05","info":"","x":92,"y":1000.5,"wires":[]},{"id":"23520cd0.01889c","type":"comment","z":"3b2ecee8.2763da","name":"a5-04-01","info":"","x":92,"y":1041.5,"wires":[]},{"id":"12f59360.ad7075","type":"delay","z":"3b2ecee8.2763da","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":886,"y":97.5,"wires":[["99c2e6e7.fdc19"]]},{"id":"ac8e213f.257558","type":"rm92a-serial","z":"","serialport":"/dev/ttyRM92A"},{"id":"5497306f.b6ca3","type":"slr429-serial","z":"","serialport":"/dev/ttySLR429"},{"id":"f0f615ba.7b902","type":"serial-port","z":"","serialport":"/dev/ttyEnOcean","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"e57727c4.b16f6","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false}]