Gateway/memo/flows_raspberrypi.json
[{"id":"da741bf.93be5e8","type":"tab","label":"Flow 1"},{"id":"b36afa1f.89367","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"100","bin":"bin","out":"time","addchar":false},{"id":"c6472a2f.08ccd8","type":"rm92a-serial","z":"","serialport":"/dev/ttyUSB0"},{"id":"46b90a65.8bc55c","type":"rm92a-config","z":"","reset":"/home/pi/gateway/rm92a_reset.sh","mode":"1","ch":"24","panid":"0x1234","src":"0x0001","dst":"0x002","pw":"2","bw":"0","sf":"0","bitrate":"50000","ack":false,"timeout":"1","retry":"0","rtc":"0"},{"id":"946a5847.038778","type":"toami out","z":"da741bf.93be5e8","name":"","timeout":"","retry":"","interval":"","x":1195,"y":479,"wires":[]},{"id":"25b0ba43.bc170e","type":"rm92a in","z":"da741bf.93be5e8","name":"","serial":"","rm92a":"","interval":"1000","enbinterval":true,"latestpacket":false,"x":82,"y":473.5,"wires":[["24ccaa73.5ee5a6"]]},{"id":"bad35d62.ede54","type":"slr429 in","z":"da741bf.93be5e8","name":"","serial":"","slr429":"","interval":"1000","enbinterval":true,"latestpacket":false,"x":77,"y":647.5,"wires":[["8b28a806.76fd38"]]},{"id":"768be043.9068f","type":"delay","z":"da741bf.93be5e8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":239,"y":365.5,"wires":[["588bb0cc.213be"]]},{"id":"136b3524.9a0f33","type":"function","z":"da741bf.93be5e8","name":"hex to string","func":"\n/* globals msg */\nmsg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":98.5,"wires":[["e4289cfc.860448"]]},{"id":"e4289cfc.860448","type":"function","z":"da741bf.93be5e8","name":"Split for RM92A","func":"\n/* globals msg, node, util */\nvar max = 93;\nvar split = max;\n\nvar payload = msg.payload;\nvar num;\nvar digit = 1;\nfor (;; digit++) {\n    num = Math.ceil(payload.length / split);\n    if (num >= Math.pow(10, digit)) {\n        split = split - 2;\n    } else {\n        break;\n    }\n}\n\nif (split < 0) {\n    node.error(\"Can't split payload, because payload too long(\" + payload.length + \").\", msg);\n    return null;\n}\n\nvar zeroPadding = \"\";\nvar i;\nfor (i = 0; i < digit; i++) {\n    zeroPadding += \"0\";\n}\n\nvar seq;\nvar amount = (zeroPadding + num).slice(-digit);\nvar data;\nvar format;\nvar msgs = [];\nfor (i = 0; i < num; i++) {\n    seq = (zeroPadding + i).slice(-digit);\n    data = payload.slice(split * (i+1), Math.min(split * (i+2), payload.length));\n    format = util.format(\"@F;%s;%s;%s\", seq, amount, data);\n    msgs.push({payload: format});\n}\n\nreturn [msgs];","outputs":1,"noerr":0,"x":597,"y":98.5,"wires":[["42d383e0.6bd50c"]]},{"id":"42d383e0.6bd50c","type":"rm92a out","z":"da741bf.93be5e8","dst":"0x00FF","x":889,"y":98,"wires":[]},{"id":"ac443a72.cd77f","type":"slr429 out","z":"da741bf.93be5e8","gid":"0x00","did":"0x01","x":894,"y":205,"wires":[]},{"id":"2c967721.4f5ae8","type":"function","z":"da741bf.93be5e8","name":"Collect Toami Data","func":"\n/*globals msg */\nvar startTrigger = \"@start\";\nvar sendTrigger = \"@send\";\n\nvar keys = [\n    \"n01\", \"n02\", \"n03\", \"n04\", \"n05\", \"n06\", \"n07\", \"n08\", \"n09\", \"n10\",\n    \"n11\", \"n12\", \"n13\", \"n14\", \"n15\", \"n16\", \"n17\", \"n18\", \"n19\", \"n20\",\n    \"n21\", \"n22\", \"n23\", \"n24\", \"n25\", \"n26\", \"n27\", \"n28\", \"n29\", \"n30\",\n    \"s01\", \"s02\", \"s03\", \"s04\", \"s05\", \"s06\", \"s07\", \"s08\", \"s09\", \"s10\",\n    \"l01\",\n];\n\nvar timestampKey = \"gwtimestamp\";\n\nvar temp = null;\nvar toami;\n\nvar payload = msg.payload;\nif (msg.payload === startTrigger) {\n    temp = {};\n    return null;\n} else if (msg.payload === sendTrigger) {\n    toami = temp;\n    temp = null;\n\n    toami[timestampKey] = Date.now();\n    return toami;\n} else {\n    if (!temp) {\n        return null;\n    }\n\n    keys.forEach(function(key) {\n        if (payload.hasOwnProperty(key)) {\n            temp[key] = payload[key];\n        }\n    });\n    return null;\n}","outputs":1,"noerr":0,"x":724,"y":477.5,"wires":[["946a5847.038778","63e224b4.fc6144"]]},{"id":"3842cf84.92d898","type":"function","z":"da741bf.93be5e8","name":"Write File","func":"\n/*globals msg, context, util */\nvar payload = msg.payload;\nvar dir = \"/home/pi/toami\";\n\nif (Number.isFinite(payload)) {\n    // timestamp\n    var date = new Date(payload);\n    context.filename = util.format(\"%s/toami_%d%s%s%s%s%s.csv\",\n        dir,\n        date.getFullYear(),\n        (\"0\" + date.getMonth() + 1).slice(-2),\n        (\"0\" + date.getDate()).slice(-2),\n        (\"0\" + date.getHours()).slice(-2),\n        (\"0\" + date.getMinutes()).slice(-2),\n        (\"0\" + date.getSeconds()).slice(-2));\n    return [null, context.filename];\n} else {\n    // csv\n    return {\n        filename: context.filename,\n        payload: msg.payload,\n    };\n}","outputs":"2","noerr":0,"x":1043,"y":405.5,"wires":[["251aca5d.883e06"],["29622f12.bbaf48"]]},{"id":"63e224b4.fc6144","type":"csv","z":"da741bf.93be5e8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":887,"y":405.5,"wires":[["3842cf84.92d898"]]},{"id":"ed389737.cc8d7","type":"inject","z":"da741bf.93be5e8","name":"timestamp every hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":813,"y":305.5,"wires":[["3842cf84.92d898"]]},{"id":"251aca5d.883e06","type":"file","z":"da741bf.93be5e8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1192,"y":405.5,"wires":[]},{"id":"cde8f544.4342d8","type":"change","z":"da741bf.93be5e8","name":"trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@trigger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":359,"y":208.5,"wires":[["ac443a72.cd77f"]]},{"id":"c95e9131.e24e","type":"change","z":"da741bf.93be5e8","name":"RF1 convert toami","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":445,"y":475.5,"wires":[["2c967721.4f5ae8"]]},{"id":"beb900fb.2f9b88","type":"change","z":"da741bf.93be5e8","name":"RF2 convert toami","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":446,"y":551,"wires":[["2c967721.4f5ae8"]]},{"id":"588bb0cc.213be","type":"change","z":"da741bf.93be5e8","name":"send trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@send","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":423,"y":366,"wires":[["2c967721.4f5ae8"]]},{"id":"24ccaa73.5ee5a6","type":"function","z":"da741bf.93be5e8","name":"Packet Parser","func":"\n// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\nfunction translate(value) {\n    var degrees = parseInt(value[1], 10);\n    var minutes = parseInt(value[2], 10);\n    var seconds = parseFloat(value[3].replace(/(\\d{2})(\\d*)/, \"$1.$2\"));\n    return degrees + (minutes / 60) + (seconds / 3600);\n}\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nif (gnrmc) {\n        m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    result.payload.location = { latitude: latitude, longitude: longitude };\n}\n\nreturn result;","outputs":1,"noerr":0,"x":127,"y":544.5,"wires":[["c6644128.95258"]]},{"id":"c6644128.95258","type":"switch","z":"da741bf.93be5e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":224,"y":614.5000305175781,"wires":[["c95e9131.e24e"],["beb900fb.2f9b88"]]},{"id":"f7117c60.e53cc8","type":"change","z":"da741bf.93be5e8","name":"start trigger","rules":[{"t":"set","p":"payload","pt":"msg","to":"@start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":422,"y":289,"wires":[["2c967721.4f5ae8"]]},{"id":"8b28a806.76fd38","type":"function","z":"da741bf.93be5e8","name":"Packet Parser","func":"\n// $1 : Src address\n// $2 : GNRMC\n// $3 : Temperature\n// $4 : Humidity\n// $5 : Atmospheric pressure\nvar regex = /^([0-9a-fA-F]+),(?:\\$GNRMC,(.*),)?BME280,([0-9.]*),([0-9.]*),([0-9.]*)$/;\n\n// $1  : UTC Time\n// $2  : A:Valid, V:Invalid\n// $3  : Latitude\n// $4  : N:North, S:South\n// $5  : Longitude\n// $6  : E:East, W:West\n// $7  : Speed over ground\n// $8  : Course over ground\n// $9  : UTC Date\n// $10 : Magnetic variation\n// $11 : Magnetic variation direction (E:East, W:West)\n// $12 : Positioning system mode indicator\n// $13 : Checksum\nvar rmc = /^([0-9.]*),(A|V),([0-9.]*),(N|S),([0-9.]*),(E|W),([0-9.]*),([0-9.]*),(\\d*),([0-9.]*),(E?|W?),(A|D|E|M|S|N)\\*([0-9A-F]{2})$/;\n\n//  $1 : Degree\n//  $2 : Minutes\n//  $3 : Seconds\nvar dms = /(\\d*)(\\d{2})\\.(\\d*)/;\n\nfunction translate(value) {\n    var degrees = parseInt(value[1], 10);\n    var minutes = parseInt(value[2], 10);\n    var seconds = parseFloat(value[3].replace(/(\\d{2})(\\d*)/, \"$1.$2\"));\n    return degrees + (minutes / 60) + (seconds / 3600);\n}\n\n/* globals msg, node */\nvar rssi = msg.rssi;\nvar payload = msg.payload;\n\n// payload parse\nvar m = regex.exec(payload);\nif (!m) {\n    node.error(\"Invalid msg : \" + payload, msg);\n    return;\n}\n\nvar src = parseInt(m[1], 16);\nvar gnrmc = m[2];\nvar temperature = parseFloat(m[3]);\nvar humidity = parseFloat(m[4]);\nvar pressure = parseFloat(m[5]);\n\nvar result = {\n    src: src,\n    rssi: rssi,\n    payload: {\n        temperature: temperature,\n        humidity: humidity,\n        pressure: pressure,\n    },\n};\n\nif (gnrmc) {\n        m = rmc.exec(gnrmc);\n    if (!m) {\n        node.error(\"Invalid gnrmc : \" + gnrmc, msg);\n        return;\n    }\n\n    var latitudeValue = m[3];\n    var latitudeDirection = m[4];\n\n    var longitudeValue = m[5];\n    var longitudeDirection = m[6];\n\n    m = dms.exec(latitudeValue);\n    if (!m) {\n        node.error(\"Invalid latitude : \" + latitudeValue , msg);\n        return;\n    }\n    var latitude = translate(m);\n\n    m = dms.exec(longitudeValue);\n    if (!m) {\n        node.error(\"Invalid longitude : \" + longitudeValue , msg);\n        return;\n    }\n    var longitude = translate(m);\n\n    if (latitudeDirection === \"S\") {\n        latitude *= -1;\n    }\n\n    if (longitudeDirection === \"W\") {\n        longitude *= -1;\n    }\n\n    result.payload.location = { latitude: latitude, longitude: longitude };\n}\n\nreturn result;","outputs":1,"noerr":0,"x":124,"y":721,"wires":[["4466a8e5.b9fd7"]]},{"id":"4466a8e5.b9fd7","type":"switch","z":"da741bf.93be5e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":180,"y":783.0000305175781,"wires":[["bc970224.7b73f"],["abae3820.362bc8"]]},{"id":"bc970224.7b73f","type":"change","z":"da741bf.93be5e8","name":"RF1 convert toami","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":445,"y":680,"wires":[["2c967721.4f5ae8"]]},{"id":"abae3820.362bc8","type":"change","z":"da741bf.93be5e8","name":"RF2 convert toami","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":446,"y":755.5,"wires":[["2c967721.4f5ae8"]]},{"id":"e4a1d19f.547568","type":"serial in","z":"da741bf.93be5e8","name":"EnOcean","serial":"","x":81,"y":872.5,"wires":[["1c244407.589254"]]},{"id":"47153c7a.84c35c","type":"switch","z":"da741bf.93be5e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":246,"y":942,"wires":[["b415df5a.468b58"],["ad23ff10.35f678"]]},{"id":"b415df5a.468b58","type":"change","z":"da741bf.93be5e8","name":"RF1 convert toami","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":907,"wires":[["2c967721.4f5ae8"]]},{"id":"ad23ff10.35f678","type":"change","z":"da741bf.93be5e8","name":"RF2 convert toami","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":979,"wires":[["2c967721.4f5ae8"]]},{"id":"49621cf5.9891e4","type":"serial in","z":"da741bf.93be5e8","name":"RTCM","serial":"","x":55,"y":95.5,"wires":[["f7916b72.8b4b2"]]},{"id":"f7916b72.8b4b2","type":"delay","z":"da741bf.93be5e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":105,"y":172.5,"wires":[["136b3524.9a0f33","cde8f544.4342d8","768be043.9068f","f7117c60.e53cc8"]]},{"id":"29622f12.bbaf48","type":"debug","z":"da741bf.93be5e8","name":"","active":true,"console":"false","complete":"true","x":1149,"y":287,"wires":[]},{"id":"1c244407.589254","type":"esp3 in","z":"da741bf.93be5e8","name":"","eeps":[],"x":105,"y":943.5,"wires":[["47153c7a.84c35c"]]}]